<div class="btn-group {{position}}">
  <button type="button" class="btn btn-{{style}} dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    {{text}} <span class="caret"></span>
  </button>
  <div class="dropdown-menu {% if align == 'right' %}dropdown-menu-right{% endif %}">
      {% for button in buttons %}{{button.render}}{% endfor %}
  </div>
</div>
