// When a panel is open, prevent vertical scrolling on the underlying web page.
////////////////////////////////////////////////////////////////////////////////

html.panel-open {
  overflow-y: hidden;

  body {
    overflow: hidden;
    position: absolute;   
    width: 100vw;
  }
}

// Global Admin Central affordance
////////////////////////////////////////////////////////////////////////////////

.ombu-icon-admin-gears {
  width: 32px;
  height: 32px;
}

.admin-overlay-trigger {
  $size: 56px;
  $scale-hover: 1.25;
  position: fixed;
  top: 0;
  right: 0;
  height: $size * $scale-hover;
  width: $size * $scale-hover;
  overflow: hidden;
  z-index: 1000;

  > span {
    display: block;
    position: absolute;
    top: -$size;
    right: -$size;
    height: $size * 2;
    width: $size * 2;
    background-color: $panel-blue-dark;
    background-image: linear-gradient(to top, rgb(241, 91, 87) 2%, rgb(242,106,91) 6%, rgb(245,135,98) 12%, rgb(120,189,180) 29%, rgb(89,148,183) 42%, rgb(77,93,170) 50%);
    border-radius: 50%;
    transition: all 0.2s ease;
  }

  .ombu-icon-admin-gears {
    display: block;
    position: absolute;
    left: round($size / 3.3);
    bottom: round($size / 3.3);
    transition: all 0.2s ease;
    @include transform(scale(1));

    path {
      fill: white;
      transform-box: fill-box;      
      @include transform-origin(center center);
    }
  }

  &:hover,
  &:focus {
    > span {
      @include transform(scale($scale-hover));
    }

    .ombu-icon-admin-gears {
      .ombu-icon-admin-gears--gear-large {
        @include animate(spin, 3s, infinite, linear);
      }

      .ombu-icon-admin-gears--gear-medium {
        @include animate(spin, 3s, infinite, linear, reverse);
      }

      .ombu-icon-admin-gears--gear-small {
        @include animate(spin, 3s, infinite, linear, reverse);
      }
    }
  }

  &.inactive {
    display: none;
  }
}

// Admin overlay
#admin-overlay {
  color: $panel-charcoal-dark;
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;  
  transition: all 0.2s ease;
  visibility: hidden;
  max-width: 100%;
  width: 251px;
  z-index: 9999;

  &.active {
    opacity: 1;
    visibility: visible;
  }
}

.admin-overlay--wrapper {
  background-image: linear-gradient(to bottom, $color-ombu-blue 0, $color-ombu-pink 100%);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  font-family: $font-family-sans-serif;
  padding: 0 0 5px 5px;
  position: relative;
  z-index: 3;
}

.admin-overlay--inner {
  background-color: rgba($color-white, 0.85);
  max-height: calc(100vh - 60px);  
  overflow-y: auto;
}

// Admin overlay close link
#admin-overlay-close {
  background-color: rgba(30, 30, 30, 0.3);
  border: none;
  color: rgba(255, 255, 255, 0.5);
  font-weight: $font-weight-regular;
  flex: 0 0 auto;
  float: right;
  font-size: 10px;
  line-height: 1.5;
  padding: 5px 10px 10px;
  text-transform: uppercase;
  width: 50px;

  span {
    display: block;
    text-align: center;
  }

  &,svg g {
    transition: all $transition-duration-default ease;
  }

  &:hover,
  &:focus {
    color: $color-white;

    svg g {
      fill-opacity: 1;
    }
  }
}

.admin-overlay-close-label {
  margin-bottom: 2px;
}


.admin-overlay--header {
  background-image: linear-gradient(to bottom, rgb(67, 94, 116) 0, rgb(42, 128, 141) 100%);
  color: $color-white;
  display: flex;
}

// Go to admin central link
.admin-overlay--panels-link {
  color: $color-white;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: $font-weight-light;
  justify-content: flex-start;
  line-height: 1.214285714;
  padding: 9px 8px 11px 10px;

  strong {
    font-weight: $font-weight-medium;
  }

  svg {
    height: 30px;
    margin-left: 8px;
    width: 30px;
    vertical-align: top;

    * {
      fill: $color-white;
    }
  }

  span {
    flex: 0 0 auto;
  }

  &:hover,
  &:focus {
    color: $color-white;
    text-decoration: underline;

    svg path {
      fill: white;
      transform-box: fill-box;      
      @include transform-origin(center center);
    }    

    .ombu-icon-admin-gears {
      .ombu-icon-admin-gears--gear-large {
        @include animate(spin, 3s, infinite, linear);
      }

      .ombu-icon-admin-gears--gear-medium {
        @include animate(spin, 3s, infinite, linear, reverse);
      }

      .ombu-icon-admin-gears--gear-small {
        @include animate(spin, 3s, infinite, linear, reverse);
      }    
    } 
  } 
}

// Admin Overlay Info Section
.admin-overlay--info {
  padding: 15px;
}

.admin-overlay--info-heading {
  color: $panel-charcoal-dark;
  font-size: 12px;
  font-weight: $font-weight-medium;
  line-height: 1.166666667;  
  margin-top: 30px;
  margin-bottom: 11px;
  text-transform: uppercase;

  &:first-child {
    margin-top: 0;
  }
}

.admin-overlay--info-list {
  @include clearfix();
  margin-top: -5px;
  margin-bottom: 12px;
}

$admin-overlay-info-table-label-width: 55px;
.admin-overlay--label {
  color: rgb(102, 102, 102);
  font-size: 10px;
  font-weight: $font-weight-regular;
  line-height: 1.5; 
  text-transform: uppercase;
}

.admin-overlay--info-table-label {
  clear: left;
  float: left;
  line-height: 1.3;
  padding: 7px 0 0px;
  text-align: right;
  width: $admin-overlay-info-table-label-width;
}

.admin-overlay--info-table-value {
  color: $panel-charcoal-dark;
  float: left;
  font-size: 12px;
  line-height: 1.25;
  margin-top: -4px;
  margin-bottom: -7px;
  padding: 9px 0 7px 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: calc(100% - #{$admin-overlay-info-table-label-width});

  &:last-child {
    padding-bottom: 7px;
  }

  a {
    color: $panel-blue-new;
    display: inline-block;
    margin-top: -5px;
    margin-bottom: -4px;
    padding-top: 5px;
    padding-bottom: 4px;
    position: relative;
    z-index: 3;

    &:focus,
    &:hover {
      color: $panel-blue-new;
      text-decoration: underline;
    }
  }
}

// Version section
.admin-overlay--version-summary {
  border-top: 1px solid rgba(30, 30, 30, 0.2);
  border-bottom: 1px solid rgba(30, 30, 30, 0.2);
  display: flex;
  justify-content: space-between;
  padding: 11px 0;
}

.admin-overlay--version-summary-group {

}

.admin-overlay--version-summary-label,
.admin-overlay--version-navigation-label {
  margin-bottom: 3px;
}

.admin-overlay--version-summary-label--history {
  visibility: hidden;
}

$admin-overlay-summary-value-height: 29px;
.admin-overlay--version-summary-value {
  color: rgba(30, 30, 30, 0.5);
  font-size: 14px;
  height: $panel-link-height + 14px;
  margin-top: -$admin-overlay-summary-value-height;
  margin-bottom: -11px;
  line-height: 1.071428571;

  > a, > svg, > span {
    height: $panel-link-height + 14px;
  }

  svg, a span {
    display: inline-block;
    vertical-align: middle;
  }

  svg {
    margin-right: 5px;

    rect {
      fill: $panel-blue-new;
    }
  }

  > span {
    display: inline-block;
    padding-top: $admin-overlay-summary-value-height + 2px;
  }

  a {
    color: $panel-blue-new;
    display: block;
    padding-top: $admin-overlay-summary-value-height;
    position: relative;
    z-index: 3;

    &,svg rect {
      transition: all $transition-duration-default ease;
    }
  }

  a:hover,
  a:focus {
    color: darken($panel-blue-new, 10%);

    svg rect {
      fill: darken($panel-blue-new, 10%);
    }
  }
}

.admin-overlay--version-summary-value--history {
  font-size: 12px;
  line-height: 1;
  padding-top: 3px;
}

.admin-overlay--version-navigation {
  padding: 11px 0 13px;
  text-align: center;
}

.admin-overlay--version-navigation-inner {
  display: flex;
  margin-top: -5px;
  margin-bottom: -9px;
}

.admin-overlay--version-navigation-label {
  margin-bottom: -2px;
}

.admin-overlay--version-navigation-current {
  display: inline-block;
  font-weight: $font-weight-regular;
  font-size: 20px;
  flex: 1 1 auto;
  line-height: 1.5;
  padding-top: 3px;
  vertical-align: middle;

  svg {
    margin-right: 5px;
  }

  svg,span {
    display: inline-block;
    vertical-align: middle;
  }
}

.admin-overlay--version-navigation-prev-next {
  display: inline-block;
  flex: 0 0 auto;
  height: $panel-link-height;
  padding-top: 3px;
  text-align: center;
  vertical-align: middle;
  width: 56px;

  svg {
    vertical-align: middle;
  }

  &[disabled] {
    svg * {
      stroke: rgba(30, 30, 30, 0.5);
    }
  }
}

.admin-overlay--version-metadata {
  align-items: flex-end;
  display: flex;
  margin-bottom: 5px;
  min-height: 15px;
}

.admin-overlay--version-user {
  font-size: 12px;
  font-weight: $font-weight-medium;
  line-height: 1.25;
  flex: 1 1 auto;
}

.admin-overlay--version-date {
  flex: 0 0 auto;
  font-size: 10px;
  font-weight: $font-weight-medium;
  line-height: 1.5;
  text-transform: uppercase;
}

.admin-overlay--version-message-wrapper {
  font-size: 12px;
  min-height: 5em;
  line-height: 1.666666667;
}

.admin-overlay--version-message {
  color: $panel-charcoal-dark;
  display: block;
  font-weight: $font-weight-light;
}

.admin-overlay--version-message-link {
  color: $panel-blue-new;

  .admin-overlay--version-message:hover &,
  .admin-overlay--version-message:focus & {
    color: darken($panel-blue-new, 10%);
  }
}

// Edit link
a.admin-overlay--edit {
  background-color: $panel-blue-new;
  color: $color-white;
  font-size: 14px;
  line-height: 40px;
  margin-top: 10px;
  padding-top: 0;
  padding-bottom: 0;
  width: 100%;

  &:hover,
  &:focus {
    background-color: darken($panel-blue-new, 10%);
    color: $color-white;
  }
}
