/**
 * Inside panel iframes.
 */
html.is-in-panel,
html.is-in-panel body {
  margin: 0;
  height: 100%;
  min-height: 100%;
  font-family: $font-family-base;
}

html.is-in-panel {

  // Makes REMs dependent on media queries.
  font-size: $font-size-root;
  @include desktop {
    font-size: 40px;
  }

  body {
    overflow: hidden;
  }

  * {
    font-weight: $font-weight-light;
  }

  strong {
    font-weight: bold;
  }

  a:not(.cke_dialog_ui_button) {
    text-decoration: none;
    color: $link-color;
    &:hover,
    &:active {
      color: darken($link-color, 10%);
    }
  }
}

.panel-wrapper-wrapper {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;    
}

.panel-wrapper {
  flex: 1 1 auto;  
  display: flex;
  flex-direction: column;
  background: $panel-background;
  max-width: 100%;

  .panel-head {
    margin: $panel-padding $panel-padding 0 $panel-padding;
    padding-bottom: $panel-padding / 2;
    background: $panel-background;
    border-bottom: 1px solid $accent-color;
    position: relative;
    overflow: hidden;
    max-width: 100%;

    &.panel-head--with-tabs {
      overflow: visible;
    }

    .panel-head-top {
        flex: 0 0 auto;
        display: flex;
        flex-direction: row;
    }

    .panel-head-title {
      flex: 0 1 auto;
      overflow-x: hidden;
      min-width: 50%;

      h2 {
        margin: 0 1.0em 0.5em 0;
        text-transform: uppercase;
        font-weight: $font-weight-medium;
        font-size: 12px;
        color: $panel-gray-dark;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        @include desktop {
          font-size: 14px;
        }

        a {
          font-weight: $font-weight-medium;
        }
      }

      h1 {
        margin: 0;
        font-size: 24px;
        padding: 0 1.0em 1px 0;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        @include desktop {
          font-size: 36px;
        }
      }

    }

    .panel-head-auxiliary {
      font-size: 20px;
      padding: 0 0 1px 0;
      white-space: nowrap;
      flex: 1 0 auto;
      align-self: flex-end;
      text-align: right;

      a {
        display: inline-block;
        & + a {
          margin-left: $panel-padding/4;
        }
      }

      .header-auxiliary--localization {
        display: inline-block;

        .header-auxiliary--location-group {
          display: inline-block;
          padding-left: 35px;
          text-align: left;
        }

        .header-auxiliary--location-label {
          color: $panel-gray-sidebar;
          float: left;
          font-size: 10px;
          line-height: 1.5;
          text-transform: uppercase;
        }

        .header-auxiliary--location-value {
          clear: left;
          font-size: 14px;
          float: left;
          line-height: 15 / 14;

          a {
            color: $panel-blue-new;

            svg,span {
              display: inline-block;
              vertical-align: middle;
            }

            svg {
              margin-right: 5px;
              #icon-published--mask-id {
                fill: $panel-blue-new;
              }
            }
          }
        }
      }
    }

    .panel-subtitle-group-with-actions {
      align-items: flex-end;
      display: flex;
      justify-content: space-between;
    }

    .panel-subtitle.panel-subtitle--with-actions {
      color: $panel-charcoal;
      font-weight: $font-weight-medium;
      font-style: italic;
      margin-bottom: 0;
    }

    .panel-subtitle--actions {
      margin-bottom: 0;
    }

    .panel-subtitle--action {
      display: inline-block;
      margin-left: 20px;
    }  

    .subtitle-auxiliary--version {
      margin-top: -15px;
      margin-bottom: -15px;  
    }

    .subtitle-auxiliary--version-link {
      color: $panel-blue-new;
      display: inline-block;
      font-size: 14px;
      font-weight: $font-weight-regular;
      line-height: $panel-link-height;
      margin-left: 20px;
      padding-left: 10px;
      padding-right: 10px;
    }

    .subtitle-auxiliary--version-dropdown {
      display: inline-block;

      .subtitle-auxiliary--version-link {
        margin-left: 0;
      }
    }    

    .subtitle-auxiliary--version-dropdown-content {
      border: none;
      left: 50%;
      max-width: 520px;
      min-width: 280px;
      padding: 20px;
      transform: translateX(-50%);

      &:after {
        position: absolute;
        bottom: 100%;
        left: 50%;
        display: inline-block;
        border-right: 6px solid transparent;
        border-bottom: 6px solid white;
        border-left: 6px solid transparent;
        content: '';
        transform: translateX(-50%);
      }       

      table {
        border-collapse:separate; 
        border-spacing: 10px 10px;         
        width: 100%;
      }
    }

    .subtitle-auxiliary--version-dropdown-label {
      white-space: nowrap;
    }

    .subtitle-auxiliary--version-dropdown-value,
    .subtitle-auxiliary--version-dropdown-label {
      font-weight: $font-weight-regular;
      font-size: 12px;
      line-height: 1.6667;
      margin-bottom: 10px;

      a {
        color: $panel-blue-new;
        font-weight: $font-weight-regular;
      }
    }

    .subtitle-auxiliary--version-history-group {
      display: inline-block;
      padding-left: 22px;
      margin-left: 30px;
      margin-right: -18px;
      position: relative;
      text-align: center;

      &:before {
        background-color: $panel-gray-medium;
        content: "";
        left: 0;
        position: absolute;
        width: 1px;
        height: 17px;
        top: 50%;
        transform: translateY(-50%);
      }

      .subtitle-auxiliary--version-link {
        display: inline-block;
        margin-left: 0;
        padding-left: 0;
        padding-right: 0;
      }

      .subtitle-auxiliary--version-history-prevnext {
        display: inline-block;
        height: $panel-link-height + 1px;
        vertical-align: middle;
        width: $panel-link-height;

        svg {
          height: 42px;
        }

        &[disabled] {
          svg * {
            stroke: $panel-gray-dark;
          }
        }
      }
    }

  }
  .panel-body {
    flex: 1 1 auto;
    background: $panel-background;
    position: relative;
    overflow: hidden;

    .panel-body-scroller {
      padding: 0 $panel-padding;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
    }

    &.panel-body-scrollable {
      .panel-body-scroller {
        overflow-x: hidden;
        overflow-y: auto;
        -webkit-overflow-scrolling: touch;
      }
      &:before {
        @include scrolling-shadow-top();
        left: $panel-padding;
        right: $panel-padding;
      }
      &.at-top {
        &:before {
          opacity: 0;
          top: -$panel-shadow-height;
        }
      }

      &:after {
        @include scrolling-shadow-bottom();
        left: $panel-padding;
        right: $panel-padding;
      }
      &.at-bottom {
          &:after {
              opacity: 0;
              bottom: -$panel-shadow-height;
          }
      }
    }

    .panel-body-contents {
      padding: $panel-padding 0;
    }

  }
  .panel-foot {
    display: flex;
    flex: 0 0 auto;
    justify-content: space-between;
    padding-top: $panel-padding;
    margin: 0 $panel-padding $panel-padding $panel-padding;
    background: $panel-background;
    border-top: 1px solid $panel-gray-medium;

    .panel-foot-left {
      flex: 0 0 auto;
    }

    .panel-foot-center {
      flex: 1 1 auto;
      padding-left: 0.25rem;
      padding-right: 0.25rem;
      text-align: center;
    }

    .panel-foot-right {
      flex: 0 0 auto;
      text-align: right;
    }
  }
}


// Position keyboard-accessible close affordance (inside panel iframe)
html.is-in-panel a.panel-close.panel-close--inner:not(.cke_dialog_ui_button) {
  display: block;
  $size: 40px;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  font-size: $size;
  line-height: $size;
  overflow: hidden;
  width: $size;
  height: $size;

  span {
    @include visually-hidden();
  }

  &:focus,
  &:active,
  &:hover {
    //border: 1px dotted gray;
  }  

  @include desktop {
    top: 0.05rem;
    right: 0.05rem;
  }
}
