
.nested-reorder--header {
  align-items: center;
  display: flex;
}

// Custom locale styling
.locale-dropdown--nested-reorder {
  flex: 0 0 auto;
  margin-bottom: 9px;
}

.nested-reorder {
  $height-result-default: 28px;
  padding-top: $panel-padding * 0.75;
  padding-bottom: $panel-padding * 0.75;

  .verbose-name {
      text-transform: uppercase;
      font-size: 11px;
      min-width: 8.0em;
      width: 8.0em;
      padding-left: 1.0em;
      padding-right: 0.5em;
      color: #888;
      font-weight: 400;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
  }

  ol {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    list-style: none;
  }

  li {
    > div {
      position: relative;
      margin: 0 0 1px 0;
      padding: 0;
      list-style: none;
      background: #ddd;
      border-bottom: 1px solid #bbb;
      display: flex;
      border-radius: 3px;
      line-height: $height-result-default;
      overflow: hidden;

      .handle {
        display: block;
        width: $height-result-default;
        text-align: center;
        cursor: move;
        cursor: -webkit-grab;
        font-size: 12px;
        color: #aaa;
        flex-grow: 0;
        flex-shrink: 0;
      }
      .title {
          flex-grow: 1;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          margin-right: 0.5em;
      }
      .operations {
          font-size: 12px;
          float: right;

          a {
              padding: 0 0.5em;

              &:last-child {
                  padding-right: 1.0em;
              }
          }
      }
    }

    li { margin-left: $height-result-default; }
  }

  li.ui-sortable-helper {
    @include opacity(0.9);
  }

  li.ui-sortable-placeholder {
    visibility: visible !important;
    background: rgba(184, 233, 134, 0.2);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid white;
    border-radius: 3px;

    &.ui-sortable-invalid-spot {
      background: red;
    }
  }
}