/**
 * Panels main styles, should be included on the base page.
 *
 * Only includes css that is necessary to display a panel, none of the styles
 * for panel contents.
 */
* {
  box-sizing: border-box; }

@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@-moz-keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@-o-keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes spin {
  0% {
    transform: rotate(0deg); }
  100% {
    transform: rotate(360deg); } }

.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  -o-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear; }
  .fade.in {
    opacity: 1; }

.collapse {
  display: none; }
  .collapse.in {
    display: block; }

tr.collapse.in {
  display: table-row; }

tbody.collapse.in {
  display: table-row-group; }

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-property: height, visibility;
  transition-property: height, visibility;
  -webkit-transition-duration: 0.35s;
  transition-duration: 0.35s;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease; }

html.panel-open {
  overflow-y: hidden; }
  html.panel-open body {
    overflow: hidden;
    position: absolute;
    width: 100vw; }

.ombu-icon-admin-gears {
  width: 32px;
  height: 32px; }

.admin-overlay-trigger {
  position: fixed;
  top: 0;
  right: 0;
  height: 70px;
  width: 70px;
  overflow: hidden;
  z-index: 1000; }
  .admin-overlay-trigger > span {
    display: block;
    position: absolute;
    top: -56px;
    right: -56px;
    height: 112px;
    width: 112px;
    background-color: #0372ff;
    background-image: linear-gradient(to top, #f15b57 2%, #f26a5b 6%, #f58762 12%, #78bdb4 29%, #5994b7 42%, #4d5daa 50%);
    border-radius: 50%;
    transition: all 0.2s ease; }
  .admin-overlay-trigger .ombu-icon-admin-gears {
    display: block;
    position: absolute;
    left: 17px;
    bottom: 17px;
    transition: all 0.2s ease;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
    .admin-overlay-trigger .ombu-icon-admin-gears path {
      fill: white;
      transform-box: fill-box;
      -webkit-transform-origin: center center;
      -moz-transform-origin: center center;
      -ms-transform-origin: center center;
      transform-origin: center center; }
  .admin-overlay-trigger:hover > span, .admin-overlay-trigger:focus > span {
    -webkit-transform: scale(1.25);
    -moz-transform: scale(1.25);
    -o-transform: scale(1.25);
    transform: scale(1.25); }
  .admin-overlay-trigger:hover .ombu-icon-admin-gears .ombu-icon-admin-gears--gear-large, .admin-overlay-trigger:focus .ombu-icon-admin-gears .ombu-icon-admin-gears--gear-large {
    -webkit-animation-duration: 3s;
    -moz-animation-duration: 3s;
    -o-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: spin;
    -moz-animation-name: spin;
    -o-animation-name: spin;
    animation-name: spin;
    -webkit-animation-direction: normal;
    -moz-animation-direction: normal;
    -o-animation-direction: normal;
    animation-direction: normal;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear; }
  .admin-overlay-trigger:hover .ombu-icon-admin-gears .ombu-icon-admin-gears--gear-medium, .admin-overlay-trigger:focus .ombu-icon-admin-gears .ombu-icon-admin-gears--gear-medium {
    -webkit-animation-duration: 3s;
    -moz-animation-duration: 3s;
    -o-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: spin;
    -moz-animation-name: spin;
    -o-animation-name: spin;
    animation-name: spin;
    -webkit-animation-direction: reverse;
    -moz-animation-direction: reverse;
    -o-animation-direction: reverse;
    animation-direction: reverse;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear; }
  .admin-overlay-trigger:hover .ombu-icon-admin-gears .ombu-icon-admin-gears--gear-small, .admin-overlay-trigger:focus .ombu-icon-admin-gears .ombu-icon-admin-gears--gear-small {
    -webkit-animation-duration: 3s;
    -moz-animation-duration: 3s;
    -o-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: spin;
    -moz-animation-name: spin;
    -o-animation-name: spin;
    animation-name: spin;
    -webkit-animation-direction: reverse;
    -moz-animation-direction: reverse;
    -o-animation-direction: reverse;
    animation-direction: reverse;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear; }
  .admin-overlay-trigger.inactive {
    display: none; }

#admin-overlay {
  color: #1e1e1e;
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  transition: all 0.2s ease;
  visibility: hidden;
  max-width: 100%;
  width: 251px;
  z-index: 9999; }
  #admin-overlay.active {
    opacity: 1;
    visibility: visible; }

.admin-overlay--wrapper {
  background-image: linear-gradient(to bottom, #6dc5d4 0, #f3a7ad 100%);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
  font-family: "Rubik", sans-serif;
  padding: 0 0 5px 5px;
  position: relative;
  z-index: 3; }

.admin-overlay--inner {
  background-color: rgba(255, 255, 255, 0.85);
  max-height: calc(100vh - 60px);
  overflow-y: auto; }

#admin-overlay-close {
  background-color: rgba(30, 30, 30, 0.3);
  border: none;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 400;
  flex: 0 0 auto;
  float: right;
  font-size: 10px;
  line-height: 1.5;
  padding: 5px 10px 10px;
  text-transform: uppercase;
  width: 50px; }
  #admin-overlay-close span {
    display: block;
    text-align: center; }
  #admin-overlay-close, #admin-overlay-close svg g {
    transition: all 0.2s ease; }
  #admin-overlay-close:hover, #admin-overlay-close:focus {
    color: white; }
    #admin-overlay-close:hover svg g, #admin-overlay-close:focus svg g {
      fill-opacity: 1; }

.admin-overlay-close-label {
  margin-bottom: 2px; }

.admin-overlay--header {
  background-image: linear-gradient(to bottom, #435e74 0, #2a808d 100%);
  color: white;
  display: flex; }

.admin-overlay--panels-link {
  color: white;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 300;
  justify-content: flex-start;
  line-height: 1.214285714;
  padding: 9px 8px 11px 10px; }
  .admin-overlay--panels-link strong {
    font-weight: 500; }
  .admin-overlay--panels-link svg {
    height: 30px;
    margin-left: 8px;
    width: 30px;
    vertical-align: top; }
    .admin-overlay--panels-link svg * {
      fill: white; }
  .admin-overlay--panels-link span {
    flex: 0 0 auto; }
  .admin-overlay--panels-link:hover, .admin-overlay--panels-link:focus {
    color: white;
    text-decoration: underline; }
    .admin-overlay--panels-link:hover svg path, .admin-overlay--panels-link:focus svg path {
      fill: white;
      transform-box: fill-box;
      -webkit-transform-origin: center center;
      -moz-transform-origin: center center;
      -ms-transform-origin: center center;
      transform-origin: center center; }
    .admin-overlay--panels-link:hover .ombu-icon-admin-gears .ombu-icon-admin-gears--gear-large, .admin-overlay--panels-link:focus .ombu-icon-admin-gears .ombu-icon-admin-gears--gear-large {
      -webkit-animation-duration: 3s;
      -moz-animation-duration: 3s;
      -o-animation-duration: 3s;
      animation-duration: 3s;
      -webkit-animation-iteration-count: infinite;
      -moz-animation-iteration-count: infinite;
      -o-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-name: spin;
      -moz-animation-name: spin;
      -o-animation-name: spin;
      animation-name: spin;
      -webkit-animation-direction: normal;
      -moz-animation-direction: normal;
      -o-animation-direction: normal;
      animation-direction: normal;
      -webkit-animation-timing-function: linear;
      -moz-animation-timing-function: linear;
      -o-animation-timing-function: linear;
      animation-timing-function: linear; }
    .admin-overlay--panels-link:hover .ombu-icon-admin-gears .ombu-icon-admin-gears--gear-medium, .admin-overlay--panels-link:focus .ombu-icon-admin-gears .ombu-icon-admin-gears--gear-medium {
      -webkit-animation-duration: 3s;
      -moz-animation-duration: 3s;
      -o-animation-duration: 3s;
      animation-duration: 3s;
      -webkit-animation-iteration-count: infinite;
      -moz-animation-iteration-count: infinite;
      -o-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-name: spin;
      -moz-animation-name: spin;
      -o-animation-name: spin;
      animation-name: spin;
      -webkit-animation-direction: reverse;
      -moz-animation-direction: reverse;
      -o-animation-direction: reverse;
      animation-direction: reverse;
      -webkit-animation-timing-function: linear;
      -moz-animation-timing-function: linear;
      -o-animation-timing-function: linear;
      animation-timing-function: linear; }
    .admin-overlay--panels-link:hover .ombu-icon-admin-gears .ombu-icon-admin-gears--gear-small, .admin-overlay--panels-link:focus .ombu-icon-admin-gears .ombu-icon-admin-gears--gear-small {
      -webkit-animation-duration: 3s;
      -moz-animation-duration: 3s;
      -o-animation-duration: 3s;
      animation-duration: 3s;
      -webkit-animation-iteration-count: infinite;
      -moz-animation-iteration-count: infinite;
      -o-animation-iteration-count: infinite;
      animation-iteration-count: infinite;
      -webkit-animation-name: spin;
      -moz-animation-name: spin;
      -o-animation-name: spin;
      animation-name: spin;
      -webkit-animation-direction: reverse;
      -moz-animation-direction: reverse;
      -o-animation-direction: reverse;
      animation-direction: reverse;
      -webkit-animation-timing-function: linear;
      -moz-animation-timing-function: linear;
      -o-animation-timing-function: linear;
      animation-timing-function: linear; }

.admin-overlay--info {
  padding: 15px; }

.admin-overlay--info-heading {
  color: #1e1e1e;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.166666667;
  margin-top: 30px;
  margin-bottom: 11px;
  text-transform: uppercase; }
  .admin-overlay--info-heading:first-child {
    margin-top: 0; }

.admin-overlay--info-list {
  margin-top: -5px;
  margin-bottom: 12px; }
  .admin-overlay--info-list:before, .admin-overlay--info-list:after {
    display: table;
    content: " "; }
  .admin-overlay--info-list:after {
    clear: both; }

.admin-overlay--label {
  color: #666666;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.5;
  text-transform: uppercase; }

.admin-overlay--info-table-label {
  clear: left;
  float: left;
  line-height: 1.3;
  padding: 7px 0 0px;
  text-align: right;
  width: 55px; }

.admin-overlay--info-table-value {
  color: #1e1e1e;
  float: left;
  font-size: 12px;
  line-height: 1.25;
  margin-top: -4px;
  margin-bottom: -7px;
  padding: 9px 0 7px 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: calc(100% - 55px); }
  .admin-overlay--info-table-value:last-child {
    padding-bottom: 7px; }
  .admin-overlay--info-table-value a {
    color: #2275d3;
    display: inline-block;
    margin-top: -5px;
    margin-bottom: -4px;
    padding-top: 5px;
    padding-bottom: 4px;
    position: relative;
    z-index: 3; }
    .admin-overlay--info-table-value a:focus, .admin-overlay--info-table-value a:hover {
      color: #2275d3;
      text-decoration: underline; }

.admin-overlay--version-summary {
  border-top: 1px solid rgba(30, 30, 30, 0.2);
  border-bottom: 1px solid rgba(30, 30, 30, 0.2);
  display: flex;
  justify-content: space-between;
  padding: 11px 0; }

.admin-overlay--version-summary-label,
.admin-overlay--version-navigation-label {
  margin-bottom: 3px; }

.admin-overlay--version-summary-label--history {
  visibility: hidden; }

.admin-overlay--version-summary-value {
  color: rgba(30, 30, 30, 0.5);
  font-size: 14px;
  height: 58px;
  margin-top: -29px;
  margin-bottom: -11px;
  line-height: 1.071428571; }
  .admin-overlay--version-summary-value > a, .admin-overlay--version-summary-value > svg, .admin-overlay--version-summary-value > span {
    height: 58px; }
  .admin-overlay--version-summary-value svg, .admin-overlay--version-summary-value a span {
    display: inline-block;
    vertical-align: middle; }
  .admin-overlay--version-summary-value svg {
    margin-right: 5px; }
    .admin-overlay--version-summary-value svg rect {
      fill: #2275d3; }
  .admin-overlay--version-summary-value > span {
    display: inline-block;
    padding-top: 31px; }
  .admin-overlay--version-summary-value a {
    color: #2275d3;
    display: block;
    padding-top: 29px;
    position: relative;
    z-index: 3; }
    .admin-overlay--version-summary-value a, .admin-overlay--version-summary-value a svg rect {
      transition: all 0.2s ease; }
  .admin-overlay--version-summary-value a:hover,
  .admin-overlay--version-summary-value a:focus {
    color: #1b5da7; }
    .admin-overlay--version-summary-value a:hover svg rect,
    .admin-overlay--version-summary-value a:focus svg rect {
      fill: #1b5da7; }

.admin-overlay--version-summary-value--history {
  font-size: 12px;
  line-height: 1;
  padding-top: 3px; }

.admin-overlay--version-navigation {
  padding: 11px 0 13px;
  text-align: center; }

.admin-overlay--version-navigation-inner {
  display: flex;
  margin-top: -5px;
  margin-bottom: -9px; }

.admin-overlay--version-navigation-label {
  margin-bottom: -2px; }

.admin-overlay--version-navigation-current {
  display: inline-block;
  font-weight: 400;
  font-size: 20px;
  flex: 1 1 auto;
  line-height: 1.5;
  padding-top: 3px;
  vertical-align: middle; }
  .admin-overlay--version-navigation-current svg {
    margin-right: 5px; }
  .admin-overlay--version-navigation-current svg, .admin-overlay--version-navigation-current span {
    display: inline-block;
    vertical-align: middle; }

.admin-overlay--version-navigation-prev-next {
  display: inline-block;
  flex: 0 0 auto;
  height: 44px;
  padding-top: 3px;
  text-align: center;
  vertical-align: middle;
  width: 56px; }
  .admin-overlay--version-navigation-prev-next svg {
    vertical-align: middle; }
  .admin-overlay--version-navigation-prev-next[disabled] svg * {
    stroke: rgba(30, 30, 30, 0.5); }

.admin-overlay--version-metadata {
  align-items: flex-end;
  display: flex;
  margin-bottom: 5px;
  min-height: 15px; }

.admin-overlay--version-user {
  font-size: 12px;
  font-weight: 500;
  line-height: 1.25;
  flex: 1 1 auto; }

.admin-overlay--version-date {
  flex: 0 0 auto;
  font-size: 10px;
  font-weight: 500;
  line-height: 1.5;
  text-transform: uppercase; }

.admin-overlay--version-message-wrapper {
  font-size: 12px;
  min-height: 5em;
  line-height: 1.666666667; }

.admin-overlay--version-message {
  color: #1e1e1e;
  display: block;
  font-weight: 300; }

.admin-overlay--version-message-link {
  color: #2275d3; }
  .admin-overlay--version-message:hover .admin-overlay--version-message-link,
  .admin-overlay--version-message:focus .admin-overlay--version-message-link {
    color: #1b5da7; }

a.admin-overlay--edit {
  background-color: #2275d3;
  color: white;
  font-size: 14px;
  line-height: 40px;
  margin-top: 10px;
  padding-top: 0;
  padding-bottom: 0;
  width: 100%; }
  a.admin-overlay--edit:hover, a.admin-overlay--edit:focus {
    background-color: #1b5da7;
    color: white; }

/**
 * Panels managed from the parent page.
 */
#panels-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 0;
  overflow: visible;
  z-index: 20000; }
  #panels-container #panels-container-veil {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.2s ease-in;
    cursor: w-resize; }
  #panels-container.active #panels-container-veil {
    width: 100%; }
  #panels-container[data-panel-count] #panels-container-veil {
    opacity: 1; }
  #panels-container[data-panel-count="0"] #panels-container-veil {
    opacity: 0; }
  #panels-container .is-panel {
    position: fixed;
    border: 0;
    right: 0;
    width: 100%;
    max-width: 1000px;
    left: -100%;
    height: 100%;
    transform: translate3d(0, 0, 0);
    transition: left 0.2s ease-in; }
    #panels-container .is-panel .panel-inner {
      border-right: 1px solid rgba(0, 0, 0, 0.4);
      position: absolute;
      top: 0;
      left: 0;
      right: 40px;
      bottom: 0;
      height: 100%;
      background: #EEEEEE;
      background-clip: padding-box; }
  #panels-container[data-panel-count="1"] .is-panel {
    left: 0; }
    #panels-container[data-panel-count="1"] .is-panel + .is-panel {
      left: -100%; }
  #panels-container[data-panel-count="2"] .is-panel {
    left: 25%; }
    #panels-container[data-panel-count="2"] .is-panel + .is-panel {
      left: 0; }
      #panels-container[data-panel-count="2"] .is-panel + .is-panel + .is-panel {
        left: -100%; }
  #panels-container[data-panel-count="3"] .is-panel {
    left: 25%; }
    #panels-container[data-panel-count="3"] .is-panel + .is-panel + .is-panel {
      left: 0; }
      #panels-container[data-panel-count="3"] .is-panel + .is-panel + .is-panel + .is-panel {
        left: -100%; }
  #panels-container[data-panel-count="4"] .is-panel {
    left: 25%; }
    #panels-container[data-panel-count="4"] .is-panel + .is-panel + .is-panel + .is-panel {
      left: 0; }
      #panels-container[data-panel-count="4"] .is-panel + .is-panel + .is-panel + .is-panel + .is-panel {
        left: -100%; }
  #panels-container[data-panel-count="5"] .is-panel {
    left: 25%; }
    #panels-container[data-panel-count="5"] .is-panel + .is-panel + .is-panel + .is-panel + .is-panel {
      left: 0; }
      #panels-container[data-panel-count="5"] .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel {
        left: -100%; }
  #panels-container[data-panel-count="6"] .is-panel {
    left: 25%; }
    #panels-container[data-panel-count="6"] .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel {
      left: 0; }
      #panels-container[data-panel-count="6"] .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel {
        left: -100%; }
  #panels-container[data-panel-count="7"] .is-panel {
    left: 25%; }
    #panels-container[data-panel-count="7"] .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel {
      left: 0; }
      #panels-container[data-panel-count="7"] .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel {
        left: -100%; }
  #panels-container[data-panel-count="8"] .is-panel {
    left: 25%; }
    #panels-container[data-panel-count="8"] .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel {
      left: 0; }
      #panels-container[data-panel-count="8"] .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel {
        left: -100%; }
  #panels-container[data-panel-count="9"] .is-panel {
    left: 25%; }
    #panels-container[data-panel-count="9"] .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel {
      left: 0; }
      #panels-container[data-panel-count="9"] .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel {
        left: -100%; }
  #panels-container[data-panel-count="10"] .is-panel {
    left: 25%; }
    #panels-container[data-panel-count="10"] .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel {
      left: 0; }
      #panels-container[data-panel-count="10"] .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel {
        left: -100%; }
  #panels-container .panel-close {
    display: block;
    position: absolute;
    top: 0;
    right: -40px;
    text-decoration: none;
    color: #FFFFFF;
    font-size: 40px;
    line-height: 40px;
    width: 40px;
    height: 40px;
    text-align: center; }
  #panels-container .is-panel .panel-veil {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: opacity 0.2s ease-in;
    cursor: w-resize; }
  #panels-container .is-panel.veil-open .panel-veil {
    width: 100%; }
  #panels-container .is-panel.veiled .panel-veil {
    opacity: 1; }
  #panels-container .is-panel .loading {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
    margin-top: -50px;
    border: 10px solid lightgray;
    border-bottom-color: #a0a0a0;
    border-radius: 50%;
    -webkit-animation-duration: 1.1s;
    -moz-animation-duration: 1.1s;
    -o-animation-duration: 1.1s;
    animation-duration: 1.1s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-name: spin;
    -moz-animation-name: spin;
    -o-animation-name: spin;
    animation-name: spin;
    -webkit-animation-direction: normal;
    -moz-animation-direction: normal;
    -o-animation-direction: normal;
    animation-direction: normal;
    -webkit-animation-timing-function: ease-in-out;
    -moz-animation-timing-function: ease-in-out;
    -o-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out; }
  #panels-container .is-panel iframe {
    border: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%; }

body #djDebug #djDebugToolbarHandle {
  right: -50px; }
  @media screen and (min-width: 768px) {
    body #djDebug #djDebugToolbarHandle {
      right: 0; } }

/**
 * Greater than Mobile.
 */
@media screen and (min-width: 768px) {
  #panels-container .is-panel {
    top: 0;
    right: -66%;
    width: 66%;
    left: auto !important;
    bottom: 0;
    height: 100%;
    transition: right 0.2s ease-in; }
    #panels-container .is-panel .panel-inner {
      border-top: 0;
      border-left: 10px solid rgba(0, 0, 0, 0.4);
      border-right: 0;
      right: 0; }
  #panels-container[data-panel-count="1"] .is-panel {
    right: 0; }
    #panels-container[data-panel-count="1"] .is-panel + .is-panel {
      right: -66%; }
  #panels-container[data-panel-count="2"] .is-panel {
    right: 17%; }
    #panels-container[data-panel-count="2"] .is-panel + .is-panel {
      right: 0; }
      #panels-container[data-panel-count="2"] .is-panel + .is-panel + .is-panel {
        right: -66%; }
  #panels-container[data-panel-count="3"] .is-panel {
    right: 22.66667%; }
    #panels-container[data-panel-count="3"] .is-panel + .is-panel {
      right: 11.33333%; }
      #panels-container[data-panel-count="3"] .is-panel + .is-panel + .is-panel {
        right: 0; }
        #panels-container[data-panel-count="3"] .is-panel + .is-panel + .is-panel + .is-panel {
          right: -66%; }
  #panels-container[data-panel-count="4"] .is-panel {
    right: 25.5%; }
    #panels-container[data-panel-count="4"] .is-panel + .is-panel {
      right: 17%; }
      #panels-container[data-panel-count="4"] .is-panel + .is-panel + .is-panel {
        right: 8.5%; }
        #panels-container[data-panel-count="4"] .is-panel + .is-panel + .is-panel + .is-panel {
          right: 0; }
          #panels-container[data-panel-count="4"] .is-panel + .is-panel + .is-panel + .is-panel + .is-panel {
            right: -66%; }
  #panels-container[data-panel-count="5"] .is-panel {
    right: 27.2%; }
    #panels-container[data-panel-count="5"] .is-panel + .is-panel {
      right: 20.4%; }
      #panels-container[data-panel-count="5"] .is-panel + .is-panel + .is-panel {
        right: 13.6%; }
        #panels-container[data-panel-count="5"] .is-panel + .is-panel + .is-panel + .is-panel {
          right: 6.8%; }
          #panels-container[data-panel-count="5"] .is-panel + .is-panel + .is-panel + .is-panel + .is-panel {
            right: 0; }
            #panels-container[data-panel-count="5"] .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel {
              right: -66%; }
  #panels-container[data-panel-count="6"] .is-panel {
    right: 28.33333%; }
    #panels-container[data-panel-count="6"] .is-panel + .is-panel {
      right: 22.66667%; }
      #panels-container[data-panel-count="6"] .is-panel + .is-panel + .is-panel {
        right: 17%; }
        #panels-container[data-panel-count="6"] .is-panel + .is-panel + .is-panel + .is-panel {
          right: 11.33333%; }
          #panels-container[data-panel-count="6"] .is-panel + .is-panel + .is-panel + .is-panel + .is-panel {
            right: 5.66667%; }
            #panels-container[data-panel-count="6"] .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel {
              right: 0; }
              #panels-container[data-panel-count="6"] .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel {
                right: -66%; }
  #panels-container[data-panel-count="7"] .is-panel {
    right: 29.14286%; }
    #panels-container[data-panel-count="7"] .is-panel + .is-panel {
      right: 24.28571%; }
      #panels-container[data-panel-count="7"] .is-panel + .is-panel + .is-panel {
        right: 19.42857%; }
        #panels-container[data-panel-count="7"] .is-panel + .is-panel + .is-panel + .is-panel {
          right: 14.57143%; }
          #panels-container[data-panel-count="7"] .is-panel + .is-panel + .is-panel + .is-panel + .is-panel {
            right: 9.71429%; }
            #panels-container[data-panel-count="7"] .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel {
              right: 4.85714%; }
              #panels-container[data-panel-count="7"] .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel {
                right: 0; }
                #panels-container[data-panel-count="7"] .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel {
                  right: -66%; }
  #panels-container[data-panel-count="8"] .is-panel {
    right: 29.75%; }
    #panels-container[data-panel-count="8"] .is-panel + .is-panel {
      right: 25.5%; }
      #panels-container[data-panel-count="8"] .is-panel + .is-panel + .is-panel {
        right: 21.25%; }
        #panels-container[data-panel-count="8"] .is-panel + .is-panel + .is-panel + .is-panel {
          right: 17%; }
          #panels-container[data-panel-count="8"] .is-panel + .is-panel + .is-panel + .is-panel + .is-panel {
            right: 12.75%; }
            #panels-container[data-panel-count="8"] .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel {
              right: 8.5%; }
              #panels-container[data-panel-count="8"] .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel {
                right: 4.25%; }
                #panels-container[data-panel-count="8"] .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel {
                  right: 0; }
                  #panels-container[data-panel-count="8"] .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel {
                    right: -66%; }
  #panels-container[data-panel-count="9"] .is-panel {
    right: 30.22222%; }
    #panels-container[data-panel-count="9"] .is-panel + .is-panel {
      right: 26.44444%; }
      #panels-container[data-panel-count="9"] .is-panel + .is-panel + .is-panel {
        right: 22.66667%; }
        #panels-container[data-panel-count="9"] .is-panel + .is-panel + .is-panel + .is-panel {
          right: 18.88889%; }
          #panels-container[data-panel-count="9"] .is-panel + .is-panel + .is-panel + .is-panel + .is-panel {
            right: 15.11111%; }
            #panels-container[data-panel-count="9"] .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel {
              right: 11.33333%; }
              #panels-container[data-panel-count="9"] .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel {
                right: 7.55556%; }
                #panels-container[data-panel-count="9"] .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel {
                  right: 3.77778%; }
                  #panels-container[data-panel-count="9"] .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel {
                    right: 0; }
                    #panels-container[data-panel-count="9"] .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel {
                      right: -66%; }
  #panels-container[data-panel-count="10"] .is-panel {
    right: 30.6%; }
    #panels-container[data-panel-count="10"] .is-panel + .is-panel {
      right: 27.2%; }
      #panels-container[data-panel-count="10"] .is-panel + .is-panel + .is-panel {
        right: 23.8%; }
        #panels-container[data-panel-count="10"] .is-panel + .is-panel + .is-panel + .is-panel {
          right: 20.4%; }
          #panels-container[data-panel-count="10"] .is-panel + .is-panel + .is-panel + .is-panel + .is-panel {
            right: 17%; }
            #panels-container[data-panel-count="10"] .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel {
              right: 13.6%; }
              #panels-container[data-panel-count="10"] .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel {
                right: 10.2%; }
                #panels-container[data-panel-count="10"] .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel {
                  right: 6.8%; }
                  #panels-container[data-panel-count="10"] .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel {
                    right: 3.4%; }
                    #panels-container[data-panel-count="10"] .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel {
                      right: 0; }
                      #panels-container[data-panel-count="10"] .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel + .is-panel {
                        right: -66%; }
  #panels-container .panel-close {
    top: 0.25rem;
    right: 0.25rem;
    color: #a0a0a0;
    text-align: center; } }

#root-alerts-container,
#panels-alerts-container {
  position: fixed;
  bottom: 0;
  right: 0;
  overflow: visible;
  width: 100%;
  opacity: 0;
  transition: opacity 150ms ease-in;
  z-index: 20100;
  padding-bottom: 0.5rem; }
  #root-alerts-container.open,
  #panels-alerts-container.open {
    opacity: 1; }
  #root-alerts-container .alert,
  #panels-alerts-container .alert {
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    margin-bottom: 0; }
    #root-alerts-container .alert .alert-level,
    #panels-alerts-container .alert .alert-level {
      margin-bottom: 0.25rem;
      font-weight: lighter;
      font-size: 1.3em; }

@media screen and (min-width: 768px) {
  #root-alerts-container,
  #panels-alerts-container {
    position: fixed;
    bottom: auto;
    top: 0;
    right: 66%;
    width: 34%;
    display: block;
    padding-bottom: 0; } }

.alert {
  font-size: 14px;
  padding: 1rem;
  border-radius: 1rem;
  color: #FFFFFF; }
  @media screen and (min-width: 992px) {
    .alert {
      font-size: 16px; } }
  .alert.alert-success {
    background-color: #5cb85c; }
  .alert.alert-info {
    background-color: #5bc0de; }
  .alert.alert-warning {
    background-color: #f0ad4e; }
  .alert.alert-danger {
    background-color: #d9534f; }
  .alert button.close {
    background-color: transparent;
    border: none;
    border-radius: 100%;
    color: #FFFFFF;
    float: right;
    height: 2.5rem;
    padding: 0;
    position: relative;
    transition: all 0.2s ease;
    width: 2.5rem;
    z-index: 2; }
    .alert button.close:hover {
      /*background-color: $color-picton-blue;*/ }
    @media screen and (min-width: 992px) {
      .alert button.close {
        margin-top: 0.75rem; } }

#root-alerts-container .alert {
  margin-bottom: 0;
  padding: 0; }

#root-alerts-container .alert-inner {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  /*max-width: $max-site-width;*/
  width: auto;
  /*@media screen and (min-width: $screen-md) {*/
  /*padding-left: $gutter-side-notebook;*/
  /*padding-right: $gutter-side-notebook;*/
  /*padding-bottom: 1.25rem;*/
  /*}*/
  /*@media screen and (min-width: $screen-lg) {*/
  /*padding-left: $gutter-side-desktop;*/
  /*padding-right: $gutter-side-desktop;*/
  /*}*/ }

@media screen and (min-width: 992px) {
  #panels-alerts-container .alert-level {
    display: block;
    margin-right: 0; }
  #panels-alerts-container button.close {
    margin-top: 0.25rem; } }

.alert-level {
  /*font-family: $font-vesperlibre-regular;*/
  font-size: 20px;
  /*@media screen and (min-width: $screen-md) {*/
  /*display: inline-block;*/
  /*font-size: 28px;*/
  /*margin-bottom: 0;*/
  /*margin-right: 8rem;*/
  /*position: relative;*/
  /*top: 3px;*/
  /*}*/ }
