{% extends "theme_base.html" %}
{% load i18n panels_form_extras %}

{% block title %}{% trans "Reset Password" %}{% endblock %}

{% block content %}
  <div class="login">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3">
          <p>{% trans "If your account is in our records, you will be sent an email with directions on how to reset your password." %}</p>
          <form class="login--form" method="post">
            {% csrf_token %}
            {% for field_name in form.fields %}
              {% with form|get_field:field_name as field %}
                  {% if field.is_hidden %}
                    {{ field }}
                  {% else %}
                    {% include 'bootstrap/field.html' with field=field|add_input_classes %}
                  {% endif %}
              {% endwith %}
            {% endfor %}
            <div class="login--submit-group">
              <button type="submit" class="btn-primary">{% trans "Submit" %}</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
