{% extends "theme_base.html" %}
{% load i18n static panels_form_extras %}

{% block title %}Reset Password{% endblock %}

{% block content %}
  <div class="login">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3">
          {% if validlink %}
            <p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>
            <form class="login--form" method="post">
              {% csrf_token %}
              {% for field_name in form.fields %}
                {% with form|get_field:field_name as field %}
                    {% if field.is_hidden %}
                      {{ field }}
                    {% else %}
                      {% include 'bootstrap/field.html' with field=field|add_input_classes %}
                    {% endif %}
                {% endwith %}
              {% endfor %}
              <div class="login--submit-group">
                <button type="submit" class="btn-primary">{% trans "Change my password" %}</button>
              </div>
            </form>
          {% else %}
            <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
