{% extends "theme_base.html" %}
{% load i18n static panels_form_extras %}

{% block title %}Reset Password{% endblock %}

{% block content %}
  <div class="login">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="block--form">
              <p>
                {% blocktrans %}
                  Your password has been set. You may go ahead
                  and
                  {% endblocktrans %}
                  <a href="{% url 'login' %}">{% trans "sign in" %}</a>
                  {% trans "now." %}
              </p>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
