{% extends "theme_base.html" %}
{% load i18n static panels_form_extras %}

{% block title %}Reset Password{% endblock %}

{% block content %}
  <div class="login">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="block--form">
              {% blocktrans %}
              <p>We've emailed you instructions for setting your
                password. You should receive them shortly.
              </p>
              <p>
                If you don't receive an email, please make sure
                you've entered the address you registered with,
                and check your spam folder.
              </p>
              {% endblocktrans %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
