<div class="admin-overlay---versions">

  <div class="admin-overlay--version-summary">
    <div class="admin-overlay--version-summary-group">
      <div class="admin-overlay--label admin-overlay--version-summary-label">Published</div>
      <div  class="admin-overlay--version-summary-value">
        {% spaceless %}
        {% if version_published %}
          <a href="{{version_published.get_absolute_url}}">{% include 'svg/published.svg' %}<span>v{{version_published.version}}</span></a>
        {% else %}
          <span>No</span>
        {% endif %}
        {% endspaceless %}
      </div>
    </div>
    
    <div class="admin-overlay--version-summary-group">
      <div class="admin-overlay--label admin-overlay--version-summary-label">Latest</div>
      <div class="admin-overlay--version-summary-value">
        {% spaceless %}
        <a href="{{version_latest.get_absolute_url}}">
          {% if version_latest.is_draft %}
            <span>Draft</span>
          {% else %}
            <span>v{{version_latest.version}}</span>
          {% endif %}
        </a>
        {% endspaceless %}
      </div>
    </div>

    <div class="admin-overlay--version-summary-group">
      <div class="admin-overlay--label admin-overlay--version-summary-label admin-overlay--version-summary-label--history">History</div>
      <div class="admin-overlay--version-summary-value admin-overlay--version-summary-value--history"><a href="{{history_url}}" onclick="Panels.open($(this).attr('href')).then(function(result) { window.location.href = result.info.view_url; }); return false;">History</a></div>
    </div>

  </div>

  <div class="admin-overlay--version-navigation">
    <div class="admin-overlay--label admin-overlay--version-navigation-label">Viewing</div>
    <div class="admin-overlay--version-navigation-inner">
      {% if version_prev %}
        <a class="admin-overlay--version-navigation-prev-next" href="{{version_prev.get_absolute_url}}" title="Previous">{% include 'svg/previous.svg' %}</a>
      {% else %}
        <span class="admin-overlay--version-navigation-prev-next" disabled>{% include 'svg/previous.svg' %}</span>
      {% endif %}

      {% spaceless %}
      {% if version_current.is_draft %}
        <div class="admin-overlay--version-navigation-current"><span>Draft</span></div>
      {% else %}
        <div class="admin-overlay--version-navigation-current">
          <span>v{{version_current.version}}</span>
        </div>
      {% endif %}
      {% endspaceless %}

      {% if version_next %}
        <a class="admin-overlay--version-navigation-prev-next" href="{{version_next.get_absolute_url}}" title="Next">{% include 'svg/next.svg' %}</a>
      {% else %}
        <span class="admin-overlay--version-navigation-prev-next" disabled>{% include 'svg/next.svg' %}</span>
      {% endif %}
    </div>
  </div>


  <div class="admin-overlay--version-metadata">
    {% if version_current.owner %}
      <span class="admin-overlay--version-user">{{version_current.owner.username}}</span>
    {% endif %}
    {% if version_current.committed %}
      <span class="admin-overlay--version-date" title="{{version_current.committed_at}}">{{version_current.committed_at|date:"M j, Y"}}</span>
    {% else %}
      <span class="admin-overlay--version-date" title="{{version_current.updated_at}}">{{version_current.updated_at|date:"M j, Y"}}</span>
    {% endif %}
  </div>

    <div class="admin-overlay--version-message-wrapper">
        <a href="{{info_url}}" data-panels-trigger class="admin-overlay--version-message">
        {% if version_current.change_description %}{{version_current.change_description|striptags|truncatechars:100|safe}} {% endif %}<span class="admin-overlay--version-message-link">Details</span>
        </a>
    </div>

</div>
