<ul class="language-selector">
  {% for link in links %}
    <li class="language-selector--item">
      {% if request.path == link.href %}
        <span class="language-selector--link language-selector--link--active" lang="{{link.locale_code}}">{{link.native_name}}</span>
      {% else %}
        <a href="{{link.href}}" lang="{{link.lang_code}}" class="language-selector--link">{{link.native_name}}</a>
      {% endif %}
    </li>
  {% endfor %}
</ul>
