{% load panels_extras %}
<div class="header-auxiliary--localization">
  <div class="header-auxiliary--location-group">
    <div class="header-auxiliary--location-label">Published</div>
    <div class="header-auxiliary--location-value">
      {% if localization.has_published %}
        {% with published=localization.get_published %}
          <a href="{% url published|url_for:'change' published.pk %}">
            {% include 'svg/published.svg' %}<span>v{{published.version}}</span>
          </a>
        {% endwith %}
      {% else %}
        <span>No</span>
      {% endif %}
    </div>
  </div>
  <div class="header-auxiliary--location-group">
    <div class="header-auxiliary--location-label">Latest</div>
    <div class="header-auxiliary--location-value">
      {% with latest=localization.get_latest %}
        <a href="{% url latest|url_for:'change' latest.pk %}">
          {% if latest.is_draft %}
            <span>Draft</span>
          {% else %}
            {% if latest.is_published %}{% include 'svg/published.svg' %}{% endif %}<span>v{{latest.version}}</span>
          {% endif %}
        </a>
      {% endwith %}
    </div>
  </div>
</div>
