{% load loc_vers panels_extras %}
<div class="subtitle-auxiliary--version">
  {% spaceless %}
  {% if localization.locales.all|length > 1 %}
    <div class="dropdown subtitle-auxiliary--version-dropdown">
      <a href="" class="subtitle-auxiliary--version-link subtitle-auxiliary--version-link--view" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">View</a>
      <div class="dropdown-menu subtitle-auxiliary--version-dropdown-content">
          <table>
            <tbody>
              {% for locale in localization.locales.all %}
                <tr>
                  <td class="subtitle-auxiliary--version-dropdown-value">{{locale.name}}</td>
                  <td class="subtitle-auxiliary--version-dropdown-value"><a href="{{ version|get_absolute_url_for_locale_code:locale.code }}" target="_blank">{{ version|get_absolute_url_for_locale_code:locale.code }}</a></td>
              {% endfor %}
            </tbody>
          </table>
      </div>
    </div>
  {% else %}
    <a class="subtitle-auxiliary--version-link subtitle-auxiliary--version-link--view" href="{{ version|get_absolute_url_for_locale_code:localization.locales.first.code }}" target="_blank">View {{localization.locales.first.name}}</a>
  {% endif %}


  {% if version.committed %}
      <a href="{% url version|url_for:'info' version.pk %}" class="subtitle-auxiliary--version-link subtitle-auxiliary--version-link--info" data-panels-trigger>Info</a>
  {% else %}
      <a class="subtitle-auxiliary--version-link subtitle-auxiliary--version-link--info" href="{% url version|url_for:'info_change' version.pk %}" data-panels-trigger>Info</a>
  {% endif %}

  <div class="subtitle-auxiliary--version-history-group">

    {% if version_prev %}
      <a class="subtitle-auxiliary--version-history-prevnext" href="{% url version_prev|url_for:'change' version_prev.pk %}" title="Previous">{% include 'svg/previous.svg' %}</a>
    {% else %}
      <span class="subtitle-auxiliary--version-history-prevnext" disabled>{% include 'svg/previous.svg' %}</span>
    {% endif %}

    <a class="subtitle-auxiliary--version-link subtitle-auxiliary--version-link--history" href="{% url localization|url_for:'version_history_select' localization.pk %}" onclick="Panels.open($(this).attr('href')).then(function(result) { window.location.href = result.info.change_url; }); return false;">History</a>

    {% if version_next %}
      <a class="subtitle-auxiliary--version-history-prevnext" href="{% url version_next|url_for:'change' version_next.pk %}" title="Next">{% include 'svg/next.svg' %}</a>
    {% else %}
      <span class="subtitle-auxiliary--version-history-prevnext" disabled>{% include 'svg/next.svg' %}</span>
    {% endif %}
  </div>
  {% endspaceless %}
</div>
