{% extends 'html-panel.html' %}
{% load static debug %}
{% load panels_extras panels_form_extras ombucore_tags %}

{# # Make the main panel body scrollable #}
{% block panel-scrollable %}panel-body-scrollable at-top at-bottom{% endblock %}

{% block panel-body %}
    <div class="">
        <h3 class="panel-page-management--heading">Localizations</h3>
        <table class="panel-page-management--localizations">
            <thead>
                <tr>
                    <th><span>Locales</span></th>
                    <th><span>Path</span></th>
                    <th><span>Published</span></th>
                    <th><span>Latest</span></th>
                    <th><span>Actions</span></th>
                </tr>
            </thead>

            <tbody>
                {% for localization in localizations %}
                <tr>
                    <td>{{ localization.locales.all|locales_list }}</td>
                    <td>
                        {% for localized_url in localization.get_absolute_urls %}
                            {% if localization.has_published %}
                                <a href="{{ localized_url }}" target="_blank">{{ localized_url }}</a>
                            {% else %}
                                {{ localized_url }}
                            {% endif %}
                            {% if not forloop.last %}
                                <br />
                            {% endif %}
                        {% endfor %}
                    </td>
                    <td>{% if localization.has_published %}<span><a href="{% url localization.get_published|url_for:'change' localization.get_published.pk %}">v{{ localization.get_published.version }}</a></span>{% else %}No{% endif %}</td>
                    <td>{% if localization.get_latest %}<span><a href="{% url localization.get_latest|url_for:'change' localization.get_latest.pk %}">{% if localization.get_latest.is_draft %}draft{% else %}v{{ localization.get_latest.version }}</a></span>{% endif %}{% endif %}</td>
                    <td>
                        <a href="{% url localization|url_for:'version_history_select' localization.pk %}" onclick="Panels.open($(this).attr('href')).then(function(result) { window.location.href = result.info.change_url; }); return false;">History</a>
                        &nbsp;
                        {% if localization.has_draft %}
                            <button class="link" disabled>Create draft</button>
                        {% else %}
                            <form method="POST" action="#" class="inline">
                                <button class="link" name="method" value="create_draft_from_latest">Create draft</button>
                                {% csrf_token %}<input type="hidden" name="pk" value="{{localization.pk}}" />
                            </form>
                        {% endif %}
                        &nbsp;
                        <a href="{% url localization|url_for:'delete' localization.pk %}" data-panels-trigger data-panels-reload-on="deleted">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if add_localization_url %}
            <a {% if base_model.is_fully_localized %}disabled{% else %}href="{{add_localization_url}}" {% endif %} class="btn btn-secondary">Create a new localization</a>
        {% endif %}

        <div class="panel-page-management--action-groups">
            <div class="panel-page-management--action-group">
                <h3 class="panel-page-management--heading">Metadata</h3>

                <dl class="panel-page-management--info">
                    {% if base_model.created_by %}
                        <dt>Creator</dt><dd>{{base_model.created_by.username}}</dd>
                    {% endif %}
                    <dt>Created</dt><dd>{{base_model.created_at}}</dd>
                </dl>
            </div>
        </div>
    </div>
{% endblock %}

{% block panel-foot %}
    {% include '_panel-form-buttons.html' with buttons=buttons only %}
{% endblock %}
