{% extends 'html-panel.html' %}

{% block panel-body %}
    <div class="panel-body-contents">
        <table class="table">
            <tr><td class="active">Version</td><td>v{{object.version}}</td></tr>
            <tr><td class="active">Change description</td><td>{{object.change_description|safe}}</td></tr>
            <tr><td class="active">Last modified by</td><td>{{object.owner}}</td></tr>
            {% if object.committed %}
              <tr><td class="active">Date committed</td><td>{{object.committed_at}}</td></tr>
            {% else %}
              <tr><td class="active">Last updated</td><td>{{object.updated_at}}</td></tr>
            {% endif %}
        </table>
    </div>
{% endblock %}

{% block panel-foot-wrapper %}
{% endblock %}
