{% load help panels_form_extras i18n humanize %}
<tr class="analysis-table__edit-row confirm-categories">
      <td colspan="{% if showSectorCode == 'true' %}7{% elif type == 'categorizeSector' %}8{% else %}6{% endif %}" class="analysis-table__edit-row-cell">
            <form action="{{request.path}}" method="POST" novalidate data-show-loading-on-submit
                  data-initial-category_id="{{ cost_line_item.config.category_id }}"
                  data-initial-sector_id="{{ cost_line_item.config.sector_id }}" >
              {% csrf_token %}
                  <input type="hidden" name="config_id" value="{{cost_line_item.config.id}}" /> 
                  <table class="analysis-table__edit-table">
                    <tbody>
                        <tr>
                            <td class="analysis-table__edit-sector-cell">
                                <label for="id_sector-{{cost_line_item.config.id}}" class="analysis-table__edit-row-label">{% trans 'Sector' %}</label>
                                <select name="sector_id" id="id_sector-{{cost_line_item.config.id}}" class="analysis-table__edit-row-select">
                                    {% for sector_id, sector_name in sector_choices %}
                                        <option value="{{sector_id}}" {% if sector_id == cost_line_item.config.sector_id %}selected{% endif %}>{{sector_name}}</option>
                                    {% endfor %}
                                </select>                              
                            </td>
                            <td class="analysis-table__edit-category-cell">
                                <label for="id_category-{{cost_line_item.config.id}}" class="analysis-table__edit-row-label">{% trans 'Category' %}</label>
                                <select name="category_id" id="id_category-{{cost_line_item.config.id}}" class="analysis-table__edit-row-select">
                                    {% for category_id, category_name in category_choices %}
                                        <option value="{{category_id}}" {% if category_id == cost_line_item.config.category_id %}selected{% endif %}>{{category_name}}</option>
                                    {% endfor %}
                                </select>
                            </td>
                            <td class="analysis-table__edit-actions-cell">
                                <button class="analysis-table__edit-action analysis-table__edit-action--save" data-object-id="{{ cost_line_item.id }}" data-endpoint="{% url 'api--costlineitem--edit-sector-category' pk=cost_line_item.id %}" type="submit" name="action" value="save_cost_line_item_config">{% trans 'Save' %}</button>
                                <button class="analysis-table__edit-action analysis-table__edit-action--cancel" type="submit" name="action" value="cancel">{% trans 'Cancel' %}</button>
                            </td>
                        </tr>
                    </tbody>
              </table>
            </form>
      </td>
</tr>