{% load help panels_form_extras i18n humanize website_tags %}
{% if dioptra_settings.show_transactions %}
    {% if transactions_count > 0 %}
        <tr class="analysis-table__transaction-row">
            <td colspan="{% if type == 'fixData' %}8{% elif type == 'categorizeSector' %}8{% else %}7{% endif %}" class="analysis-table__transaction-cell">
                <div class="analysis-table__transactions-detail">
                    <table class="analysis-table__transaction-table{% if showSectorCode == 'true' %} analysis-table__transaction-table--with-sector-code{% endif %}">
                        <thead>
                        <tr>
                            <th class="analysis-table__transaction-table-summary">{% blocktrans %}{{ transactions_count }} Transactions{% endblocktrans %}</th>
                            <th>{{ 'Site'|label_override:'tr_site_code' }}</th>
                            <th>{{ 'Date'|label_override:'tr_date' }}</th>
                            <th class="analysis-table__amount-cell">{{ 'Amount'|label_override:'tr_amount' }}</th>
                            <th {% if type == 'fixData' %}colspan="3"{% elif type == 'categorizeSector' %}colspan="3"{% endif %}></th>
                        </tr>
                        </thead>
                        <tbody data-cost-line-item-transactions="{{ cost_line_item.id }}">
                        <tr>
                            <td class="analysis-table__cost-item-cell analysis-table__transaction-table-summary">{% trans "Loading..." %}</td>
                            <td class="analysis-table__site-cell"></td>
                            <td class="analysis-table__description-cell"></td>
                            <td class="analysis-table__amount-cell"></td>
                            <td {% if type == 'fixData' %}colspan="3"{% elif type == 'categorizeSector' %}colspan="3"{% endif %} class="analysis-table__edit-cell"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </td>
        </tr>
    {% endif %}
{% endif %}