{% load help panels_form_extras i18n humanize analysis website_tags %}
<div class="analysis-table__wrapper{% if allocateEdit == 'true' %} analysis-table__wrapper--allocate{% endif %}">
    <table class="analysis-table__table">
        <thead>
        <tr>
            <th>{{ cost_line_items|length }} {% trans 'Cost Items' %}</th>
            {% if costItemEdit == 'true' %}
                <th class="analysis-table__grant-cell">{{ 'Grant'|label_override:'ci_grant_code' }}</th>{% endif %}
            <th>{{ 'Site'|label_override:'ci_site_code' }}</th>
            {% if showSectorCode == 'true' %}
                <th>{% trans 'Sector Code' %}</th>{% endif %}
            <th>{% trans 'Account Code Description' %}</th>
            <th class="analysis-table__amount-cell">
                {% if not cost_line_items|contains_sensitive_data %}
                    {% if allocateEdit == 'true' %}
                        {{ cost_line_items|sum_cost_line_items|format_currency:analysis.currency_code }}
                    {% elif contributionEdit == 'true' %}
                        {{ cost_line_items|sum_cost_line_items|format_currency:analysis.currency_code }}
                    {% else %}
                        {{ cost_line_items|sum_cost_line_items|format_currency:analysis.currency_code }}
                    {% endif %}
                {% endif %}
            </th>
            <th class="analysis-table__edit-cell">
                {% if costItemEdit == 'true' %}
                    {% help 'confirm_categories__edit_sector_category' %}<span class="analysis-table__help-in-th-label">{% trans 'Edit Sector & Category' %}</span>
                {% elif allocateEdit == 'true' %}
                    {% help 'allocate_costs__assign_allocation_percent' %}<span class="analysis-table__help-in-th-label">Assign Allocation %</span>
                {% endif %}
            </th>
        </tr>
        </thead>
        {% for cost_line_item in cost_line_items %}
            <tbody class="analysis-table__tbody">
            {% with sensitive_data=account_code_descriptions|dict_get:cost_line_item.account_code|attr:'sensitive_data' %}
                {% with transactions_count=cost_line_item.transactions.count %}
                    <tr>
                        <td class="analysis-table__cost-item-cell">
                            <div class="analysis-table__cost-item-summary">
                                {% if dioptra_settings.show_transactions %}
                                    {% if transactions_count > 0 %}
                                        <button class="analysis-table__transactions-toggle" aria-label="{% trans 'Toggle transactions' %}" data-transactions-href="{% url 'cost-line-item-transactions' cost_line_item.pk %}" data-transactions-target="[data-cost-line-item-transactions='{{ cost_line_item.id }}']">
                                        <div class="analysis-table__transactions-toggle-inner">
                                          <span class="analysis-table__transactions-toggle-icon analysis-table__transactions-toggle-icon--expand">
                                           {% render_icon 'triangle-right' %}
                                          </span>
                                          <span class="analysis-table__transactions-toggle-icon analysis-table__transactions-toggle-icon--collapse">
                                            {% render_icon 'triangle-down' %}
                                          </span>
                                        </div>
                                    {% endif %}
                                {% endif %}

                                <div class="analysis-table__cost-item-title">{{ cost_line_item.budget_line_description }}</div>

                                {% if dioptra_settings.show_transactions %}
                                    {% if transactions_count > 0 %}
                                        <div class="analysis-table__cost-item-transactions-summary">{% blocktrans %}{{ transactions_count }} transactions{% endblocktrans %}</div>
                                        </button>
                                    {% endif %}
                                {% endif %}
                            </div>
                        </td>
                        {% if costItemEdit == 'true' %}
                            <td>{{ cost_line_item.grant_code }}</td>{% endif %}
                        <td class="analysis-table__site-cell">{{ cost_line_item.site_code }}</td>
                        {% if showSectorCode == 'true' %}
                            <td class="analysis-table__sector-cell">{{ cost_line_item.sector_code }}</td>{% endif %}
                        <td class="analysis-table__description-cell">{% if account_code_descriptions|dict_get:cost_line_item.account_code %}{{ account_code_descriptions|dict_get:cost_line_item.account_code|attr:'account_description' }}{% else %}{{ cost_line_item.account_code }}{% endif %}</td>
                        <td class="analysis-table__amount-cell">{% if not sensitive_data %}{{ cost_line_item.total_cost|format_currency:analysis.currency_code}}{% endif %}</td>
                        <td class="analysis-table__edit-cell">
                            {% if costItemEdit == 'true' %}
                                <button class="analysis-table__category-edit">{% trans 'Edit' %}</button><span class="analysis-table__category-edit-active-label">{% trans 'Editing' %}</span>
                            {% elif allocateEdit == 'true' %}
                                <div class="analysis-table__allocate">
                                    <div class="analysis-table__allocated-input-group">
                                        {% if step.sector.type_obj.allocation_editable %}
                                            <div class="analysis-table__allocated-apply-all-link-wrapper"><a class="analysis-table__allocated-apply-all-link" href="#" data-apply-to-all="cost_line_item_allocation_{{ cost_line_item.id }}">Apply to all</a>{% help 'allocate_costs__apply_to_all' %}</div><input class="analysis-table__allocated-input" type="text" name="cost_line_item_allocation_{{ cost_line_item.id }}" value="{% if cost_line_item.config.allocation != None %}{{ cost_line_item.config.allocation }}{% elif not step.sector.direct_program_cost %}{{ suggested_allocation|floatformat:2 }}{% endif %}" class="{% if errors|dict_get:cost_line_item.id %}error{% endif %}">
                                        {% else %}
                                            {# Leave an input here for show, but submit the actual value in a hidden field with the correct name. #}
                                            <input type="text" name="mock_cost_line_item_allocation_{{ cost_line_item.id }}" value="{% if cost_line_item.config.allocation != None %}{{ cost_line_item.config.allocation }}{% elif not step.sector.direct_program_cost %}{{ suggested_allocation|floatformat:2 }}{% endif %}" class="{% if errors|dict_get:cost_line_item.id %}error{% endif %}" disabled>
                                            <input type="hidden" name="cost_line_item_allocation_{{ cost_line_item.id }}" value="{{ suggested_allocation|floatformat:2 }}">
                                        {% endif %}
                                    </div>
                                    {% if errors|dict_get:cost_line_item.id %}
                                        <div class="form__errors form__errors--right form__errors--allocated">
                                            <ul class="form__errors-list">
                                                <li class="form__errors-list-item"><em><strong>{{ errors|dict_get:cost_line_item.id }}</strong></em></li>
                                            </ul>
                                        </div>
                                    {% endif %}
                                    {% if cost_line_item.config.sector.type_obj|get_class_name != "IndirectCostRecovery" %}
                                        <button class="analysis-table__category-edit analysis-table__category-edit--note{% if cost_line_item.note %} analysis-table__category-edit--note-active {% endif %}">{% if cost_line_item.note %}{% trans 'View note' %} {% else %}{% trans 'Add note' %}{% endif %}</button><span class="analysis-table__category-edit-active-label analysis-table__category-edit-active-label--note">{% trans 'Editing' %}</span>
                                    {% endif %}
                                </div>
                            {% endif %}
                        </td>
                    </tr>

              {% if dioptra_settings.show_transactions %}
                  {% if transactions_count > 0 %}
                    <tr class="analysis-table__transaction-row">
                      <td colspan="{% if type == 'fixData' %}8{% elif type == 'categorizeSector' %}8{% else %}7{% endif %}"
                          class="analysis-table__transaction-cell">
                        <div class="analysis-table__transactions-detail">
                          <table
                             class="analysis-table__transaction-table{% if showSectorCode == 'true' %} analysis-table__transaction-table--with-sector-code{% endif %}">
                            <thead>
                            <tr>
                              <th class="analysis-table__transaction-table-summary">
                                {% blocktrans %}{{ transactions_count }} Transactions{% endblocktrans %}</th>
                              <th>{{ 'Site'|label_override:'tr_site_code' }}</th>
                              <th>{{ 'Date'|label_override:'tr_date' }}</th>
                              <th class="analysis-table__amount-cell">{{ 'Amount'|label_override:'tr_amount' }}</th>
                              <th {% if type == 'fixData' %}colspan="3"{% elif type == 'categorizeSector' %}colspan="3"{% endif %}></th>
                            </tr>
                            </thead>
                            <tbody data-cost-line-item-transactions="{{ cost_line_item.id }}">
                            <tr>
                              <td
                                 class="analysis-table__cost-item-cell analysis-table__transaction-table-summary">{% trans "Loading..." %}</td>
                              <td class="analysis-table__site-cell"></td>
                              <td class="analysis-table__description-cell"></td>
                              <td class="analysis-table__amount-cell"></td>
                              <td {% if type == 'fixData' %}colspan="3"{% elif type == 'categorizeSector' %}colspan="3"{% endif %}
                                  class="analysis-table__edit-cell"></td>
                            </tr>
                            </tbody>
                          </table>
                        </div>
                      </td>
                    </tr>
                  {% endif %}
                {% endif %}

                  {% if costItemEdit == 'true' %}
                    {% include 'analysis/analysis-table/_analysis-table-edit-row.html' %}
                  {% elif allocateEdit == 'true' %}
                    {% if cost_line_item.config.sector.type_obj|get_class_name != "IndirectCostRecovery" %}
                      <tr class="analysis-table__edit-row allocate-costs">
                        <td
                           colspan="{% if showSectorCode == 'true' %}7{% elif type == 'categorizeSector' %}8{% else %}6{% endif %}"
                           class="analysis-table__edit-row-cell">
                          <form action="{% url 'api--costlineitem--add-note' pk=cost_line_item.id %}" method="POST"
                                novalidate data-show-loading-on-submit>
                            {% csrf_token %}
                            <table class="analysis-table__edit-table">
                              <tbody>
                              <tr>
                                <td class="analysis-table__edit-sector-cell">
                                </td>
                                <td class="analysis-table__edit-category-cell analysis-table__edit-category-cell--note">
                                  <label for="id_category"
                                         class="analysis-table__edit-row-label">{% trans 'Note' %}</label>
                                  <textarea name="note"
                                            class="analysis-table__edit-note-input">{{ cost_line_item.note }}</textarea>
                                  <div class="form__help-text">Provide a note explaining how you arrived at the
                                    allocation percent for this cost line item
                                  </div>
                                </td>
                                <td class="analysis-table__edit-actions-cell">
                                  <button class="analysis-table__edit-action analysis-table__edit-action--save"
                                          type="submit" data-object-id="{{ cost_line_item.id }}"
                                          data-endpoint="{% url 'api--costlineitem--add-note' pk=cost_line_item.id %}"
                                          name="action" value="save_cost_line_item_config">{% trans 'Save' %}</button>
                                  <button class="analysis-table__edit-action analysis-table__edit-action--cancel"
                                          type="submit" name="action" value="cancel">{% trans 'Cancel' %}</button>
                                </td>
                              </tr>
                              </tbody>
                            </table>
                          </form>
                        </td>
                      </tr>

                    {% endif %}
                  {% endif %}
                {% endwith %}
            {% endwith %}
            </tbody>
        {% endfor %}
    </table>
</div>