body.cke_editable {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.5em;
  color: #111;
}
body.cke_editable,
body.cke_editable *,
body.cke_editable *:before,
body.cke_editable *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body.cke_editable h2,
body.cke_editable h3,
body.cke_editable h4,
body.cke_editable h5,
body.cke_editable h6 {
  color: black;
  font-weight: bold;
}
body.cke_editable hr {
  clear: both;
}
body.cke_editable a {
  color: #000096;
}
body.cke_editable img {
  max-width: 100%;
}
body.cke_editable ul {
  overflow: hidden;
}
body.cke_editable blockquote {
  clear: both;
  margin: 1.0em 0;
  padding-left: 1.0em;
  border-left: 3px solid #009600;
  font-style: italic;
}
body.cke_editable blockquote p:first-child {
  margin-top: 0;
}
body.cke_editable blockquote p:last-child {
  margin-bottom: 0;
}
body.cke_editable pre {
  font-family: 'Lucida Console', Monaco, monospace;
  color: #5d5d5d;
}
body.cke_editable .pull-left,
body.cke_editable .pull-right {
  width: 33%;
}
body.cke_editable .pull-left img,
body.cke_editable .pull-right img {
  width: auto !important;
  height: auto !important;
}
body.cke_editable .pull-left {
  float: left;
  margin: 0 2.0em 1.0em 0;
}
body.cke_editable .pull-right {
  float: right;
  margin: 0 0 1.0em 2.0em;
}
body.cke_editable p.lead {
  font-size: 1.1em;
  line-height: 1.5em;
  font-weight: bold;
}
body.cke_editable p.pull-left,
body.cke_editable p.pull-right {
  width: 33%;
}
body.cke_editable blockquote.pull-left,
body.cke_editable blockquote.pull-right {
  width: 33%;
}
body.cke_editable a.btn,
body.cke_editable a.cta,
body.cke_editable .btn-primary,
body.cke_editable .btn-secondary {
  display: inline-block;
  padding: 0.5em 3.0em;
  background-color: #dcdcdc;
  border-bottom: 1px solid #b6b6b6;
  color: black;
  border-radius: 3px;
  text-decoration: none;
}
body.cke_editable a.cta {
  font-weight: normal;
  background-color: #c3c3c3;
  border-bottom-color: #9c9c9c;
}
body.cke_editable a.cta:after {
  content: ' →';
}
body.cke_editable ul.inline {
  list-style: none;
  margin: 0;
  padding: 0;
}
body.cke_editable ul.inline li {
  display: inline;
  margin: 0;
  padding: 0;
}
body.cke_editable ul.inline li:before {
  content: '●';
  color: #909090;
  margin: 0 0.75em;
}
body.cke_editable ul.inline li:first-child:before {
  content: '';
  margin: 0;
}
body.cke_editable .btn-primary {
  background-color: #646464;
  color: white;
}
body.cke_editable .btn-secondary {
  border: 1px solid #1e1e1e;
  background-color: #f5f5f5;
}

btn.cta {
background: lightgray;
font-weight: normal !important;
padding: 10px 10px;
border: 1px solid;
border-radius: 1px;
}

btn.btn {
background: #EEE;
padding: 10px 10px;
border: 1px solid;
border-radius: 3px;
}
