{% extends "analysis/base.html" %}
{% load help panels_form_extras i18n analysis humanize website_tags %}

{% block analysis_header %}
    <div class="analysis__title-wrapper analysis__title-wrapper--expanded">
        <h1 class="analysis__title">{{title}}</h1>
        {% help 'step_guidance__allocate_costs' %}
    </div>
{% endblock %}

{% block analysis_content %}

  <div class="analysis-table analysis-categories">

        {% if step.sector.type_obj.shared %}
            {% include step.sector.type_obj.allocation_estimation_template %}
        {% endif %}

        {% include 'features/_filters.html' with filterset=filter has_search=False request=request only %}

        <div class="analysis-table__header">
            <h2 class="analysis-table__subtitle">{{step.get_nav_title}}{% help_sector step.sector.name 'allocate_costs' %}</h2>
            <div class="analysis-table__summary">{% blocktrans %}{{cost_line_items_count}} Cost Items to allocate{% endblocktrans %}</div>
        </div>

        <div class="analysis-table__categories">
            {% for sector_category_grant in sector_category_grants %}

                <div class="analysis-table__category{% if not sector_category_grant.allocation_complete %} analysis-table__category--unconfirmed{% endif %}">
                    <form action="{{ request.path }}{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}" method="POST" novalidate data-show-loading-on-submit class="warn-unsaved-changes">
                        {% csrf_token %}
                        {% with cost_line_items=object_list|cost_line_items_by_category:sector_category_grant.sector_category.category %}

                            <div class="analysis-table__category-header">
                                <h3 class="analysis-table__category-name">{{sector_category_grant.sector_category.category.name}}{% help_category sector_category_grant.sector_category.category.name 'allocate_costs' %}</h3>
                                <div class="analysis-table__category-header-supplement">
                                    <div class="analysis-table__cost-items{% if sector_category_grant.allocation_complete %} analysis-table__cost-items--confirmed{% endif %}">{{ cost_line_items|length }} {% trans 'Cost Items' %}{% if sector_category_grant.allocation_complete %} {% trans 'Allocated' %}{% endif %}</div>
                                    <div class="analysis-table__category-header-total"><strong>{{ cost_line_items|sum_cost_line_items|format_currency:analysis.currency_code }}</strong></div>
                                    {% include 'analysis/analysis-table/_analysis-table-header-toggle.html' %}
                                </div>
                            </div>

                            <div class="analysis-table__category-content">
                                {% include 'analysis/analysis-table/_analysis-table-table-base.html' with allocateEdit='true' showSectorCode='true' %}
                                <div class="analysis-table__category-footer">
                                    <button class="analysis-table__category-footer-action analysis-table__category-footer-action--allocate" type="submit" name="submit">
                                        {% if step.sector.type_obj.allocation_editable %}
                                            {% trans "Save" %}
                                        {% elif step.sector.type_obj|get_class_name == "IndirectCostRecovery" %}
                                            {% trans "Save Suggested %" %}
                                        {% else %}
                                            {% trans "Confirm" %}
                                        {% endif %}
                                    </button>
                                </div>
                            </div>
                        {% endwith %}
                    </form>
                </div>
            {% endfor %}
        </div>
        <div class="analysis-table__actions">
            <div class="analysis-table__actions-inner">
                {% if step.sector.type_obj|get_class_name == "DirectSharedProjectCost" %}
                    <a class="analysis-table__category-footer-action" data-panels-trigger data-panels-reload-on="saved" href="{% url 'analysis-allocate-sector-grant--save-suggested' pk=analysis.pk sector_pk=step.sector.id grant=step.grant %}">Save Suggested % to All Items</a>
                {% endif %}
                {% with next=step.get_next %}
                    {% if next and next.dependencies_met %}
                        <a class="analysis-navigation__prev-next analysis-navigation__prev-next--next" href="{{ next.get_href }}"><strong>{% trans 'Next' %}</strong>{% include 'icons/caret-right-thin.svg' %}</a>
                    {% else %}
                        <span class="analysis-navigation__prev-next analysis-navigation__prev-next--next disabled" disabled><strong>{% trans 'Next' %}</strong>{% include 'icons/caret-right-thin.svg' %}</span>
                    {% endif %}
                {% endwith %}
            </div>
            {% if next_message %}
                <div class="analysis-table__summary">{{ next_message }}</div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block extrascript %}
    <script type="text/javascript">
        $(function () {
            $('.analysis__main').on('click', 'a[data-apply-to-all]', function (e) {
                e.preventDefault();
                var $link = $(e.currentTarget);
                var inputName = $link.data('apply-to-all');
                var value = $('[name="' + inputName + '"]').val();
                $link
                    .parents('form')
                    .find('input[name^="cost_line_item_allocation_"]')
                    .val(value);
            });
        });
    </script>
{% endblock %}
