{% load help i18n humanize analysis website_tags %}
<div class="analysis-table__shared-cost-estimate">
    <div class="analysis-table__shared-cost-estimate-title"><span>{% trans "Direct Shared Costs" %}<br />{% trans "Allocation Estimate" %}{% help 'allocate_costs__shared_cost_allocation_estimate' %}</span></div>
    <div class="analysis-table__shared-cost-estimate-direct-cost-category"><span class="analysis-table__shared-cost-estimate-direct-cost-category-value">{{suggested_allocation_numerator|format_currency:analysis.currency_code }}</span><span class="analysis-table__shared-cost-estimate-direct-cost-category-label">{% with activity_name=analysis.activity_name %}{% blocktrans %}Direct Project Costs of<br> {{activity_name}}{% endblocktrans %}{% endwith %}</span></div>
    <div class="analysis-table__shared-cost-estimate-direct-cost-total"><span class="analysis-table__shared-cost-estimate-direct-cost-total-value">{{suggested_allocation_denominator|format_currency:analysis.currency_code}}</span><span class="analysis-table__shared-cost-estimate-direct-cost-total-label">{% with grant=step.grant %}{% blocktrans %}All Direct Project Costs of<br> {{grant}}{% endblocktrans %}{% endwith %}</span></div>
    <div class="analysis-table__shared-allocation-suggestion">{% include 'icons/allocate-arrow.svg' %}<span class="analysis-table__shared-allocation-suggestion-value">{{suggested_allocation|floatformat:2}}%</span><span class="analysis-table__shared-allocation-suggestion-label">{% trans "Direct Shared Costs" %}<br />{% trans "Suggested Allocation" %}</span></div>
</div>
