{% extends "analysis/base.html" %}
{% load help panels_form_extras analysis i18n humanize website_tags %}

{% block analysis_header %}
    <div class="analysis__title-wrapper analysis__title-wrapper--expanded">
        <h1 class="analysis__title">{{title}}</h1>
        {% help 'step_guidance__identify_output_value' %}
    </div>
{% endblock %}


{% block analysis_content %}

  <div class="analysis-table analysis-categories">

    <div class="analysis-table__header">
      <h2 class="analysis-table__subtitle">{{ step.sector.name }}{% help_sector step.sector.name 'identify_output_value' %}</h2>
      <div class="analysis-table__summary">{% trans "Choose at least one cost item" %}</div>
    </div>

    <div class="analysis-table__wrapper">
      <div class="analysis-table__categories">
        <form action="{{ request.path }}" method="POST" id="assign-output-value" novalidate data-show-loading-on-submit
              autocomplete="off" class="warn-unsaved-changes">
          {% csrf_token %}

          {% for sector_category in sector_categories %}
            <div class="analysis-table__category {% if forloop.first %}analysis-table__category--active{% endif %}">
              {% with cost_line_items=sector_category.get_cost_line_items %}

                <div class="analysis-table__category-header">
                  <h3 class="analysis-table__category-name">{{ sector_category.category.name }}{% help_category sector_category.category.name 'confirm_categories' %}</h3>
                  <div class="analysis-table__category-header-supplement">
                    <div
                       class="analysis-table__cost-items">{{ cost_line_items|length }} {% trans 'Cost Items' %}</div>
                    <div class="analysis-table__category-header-total">
                      <strong>{{ cost_line_items|sum_cost_line_items|format_currency:analysis.currency_code }}</strong></div>
                    {% include 'analysis/analysis-table/_analysis-table-header-toggle.html' %}
                  </div>
                </div>

                <div class="analysis-table__category-content">
                    <table class="analysis-table__table">
                      <thead>
                      <tr>
                        <th>{{ cost_line_items|length }} {% trans 'Cost Items' %}</th>
                        <th>{{ 'Site'|label_override:'ci_site_code' }}</th>
                        <th>{% trans 'Account Code Description' %}</th>
                        <th class="analysis-table__amount-cell">
                          {% if not cost_line_items|contains_sensitive_data %}
                            {{ cost_line_items|sum_cost_line_items|format_currency:analysis.currency_code }}
                          {% endif %}
                        </th>
                        <th class="analysis-table__edit-cell">
                          {% help 'identify_output_value__IOV_column_header' %}<span class="analysis-table__help-in-th-label">{% trans 'Identify Output Value' %}</span>
                        </th>
                      </tr>
                      </thead>
                      {% for cost_line_item in cost_line_items %}
                        <tbody class="analysis-table__tbody">
                        {% with sensitive_data=account_code_descriptions|dict_get:cost_line_item.account_code|attr:'sensitive_data' %}
                          {% with transactions_count=cost_line_item.transactions.count %}
                            <tr>
                              <td class="analysis-table__cost-item-cell">
                                <div class="analysis-table__cost-item-summary">
                                  {% if dioptra_settings.show_transactions %}
                                    {% if transactions_count > 0 %}
                                      <button class="analysis-table__transactions-toggle"
                                              aria-label="{% trans 'Toggle transactions' %}"
                                              data-transactions-href="{% url 'cost-line-item-transactions' cost_line_item.pk %}"
                                              data-transactions-target="[data-cost-line-item-transactions='{{ cost_line_item.id }}']">
                                      <div class="analysis-table__transactions-toggle-inner"><span
                                         class="analysis-table__transactions-toggle-icon analysis-table__transactions-toggle-icon--expand">{% include 'icons/triangle-right.svg' %}</span><span
                                         class="analysis-table__transactions-toggle-icon analysis-table__transactions-toggle-icon--collapse">{% include 'icons/triangle-down.svg' %}</span>
                                      </div>
                                    {% endif %}
                                  {% endif %}
                                  <div
                                     class="analysis-table__cost-item-title">{{ cost_line_item.budget_line_description }}</div>
                                  {% if dioptra_settings.show_transactions %}
                                    {% if transactions_count > 0 %}
                                      <div class="analysis-table__cost-item-transactions-summary">
                                        {% blocktrans %}{{ transactions_count }} transactions{% endblocktrans %}</div>
                                      </button>
                                    {% endif %}
                                  {% endif %}
                                </div>
                              </td>

                            <td class="analysis-table__site-cell">{{cost_line_item.site_code}}</td>

                              <td class="analysis-table__description-cell">
                                {% if account_code_descriptions|dict_get:cost_line_item.account_code %}
                                  {{ account_code_descriptions|dict_get:cost_line_item.account_code|attr:'account_description' }}{% else %}
                                  {{ cost_line_item.account_code }}{% endif %}</td>
                              <td class="analysis-table__amount-cell">{% if not sensitive_data %}
                                {{ cost_line_item.total_cost|format_currency:analysis.currency_code }}{% endif %}</td>
                              <td class="analysis-table__edit-cell">
                                <div class="form__checkbox form__checkbox--simple form__checkbox--simple-cash-transfer">
                                  <label for="assign-output-value-{{ cost_line_item.id }}"><input
                                     type="checkbox" class="assign-output-value" {% if cost_line_item.config.output_value %}checked{% endif %} name="assign_output_value" value="{{ cost_line_item.id }}"
                                     id="assign-output-value-{{ cost_line_item.id }}"
                                  ><span>{% trans 'Value of cash transferred' %}</span></label>
                                </div>
                              </td>
                            </tr>
                            {% include 'analysis/analysis-table/_analysis-table-transaction-rows.html' with cost_line_item=cost_line_item transactions_count=transactions_count showSectorCode=showSectorCode sensitive_data=sensitive_data %}
                          {% endwith %}
                        {% endwith %}
                        </tbody>
                      {% endfor %}
                    </table>

                  <div class="analysis-fix-data__footer">
                  </div>
                </div>


              {% endwith %}
            </div>

          {% endfor %}

          <div class="analysis-table__actions">
            <button class="analysis-table__save" type="submit" name="action" value="save_output_value">Save</button>
            {% with next=step.get_next %}
              {% if next and next.dependencies_met %}
                <a class="analysis-navigation__prev-next analysis-navigation__prev-next--next"
                   href="{{ next.get_href }}"><strong>{% trans 'Next' %}</strong>{% include 'icons/caret-right-thin.svg' %}
                </a>
              {% else %}
                <span class="analysis-navigation__prev-next analysis-navigation__prev-next--next disabled"
                      disabled><strong>{% trans 'Next' %}</strong>{% include 'icons/caret-right-thin.svg' %}</span>
              {% endif %}
            {% endwith %}
            {% if next_message %}
              <div class="analysis-table__summary">{{next_message}}</div>
            {% endif %}
          </div>


        </form>
      </div>


    </div>


  </div>
{% endblock %}
