{% extends "analysis/base.html" %}
{% load help panels_form_extras analysis i18n humanize website_tags %}

{% block analysis_header %}
    <div class="analysis__title-wrapper analysis__title-wrapper--expanded">
        <h1 class="analysis__title">{{title}}</h1>
        {% help 'step_guidance__assign_sector_category' %}
    </div>
{% endblock %}

{% block analysis_content %}
  <div>
      {% include 'features/_filters.html' with filterset=filter request=request only %}
  </div>
    <div class="analysis-table__header">
        <h2 class="analysis-table__subtitle">{% trans "Cost Items" %}</h2>
        <div class="analysis-table__summary">{% blocktrans %}{{total_cost_line_item_count}} cost items missing either sector or category {% endblocktrans %}</div>
    </div>

    <form action="{{request.path}}{% if request.GET %}?{{ request.GET.urlencode }}{% endif %}" method="POST" id="fix-missing-data" novalidate data-show-loading-on-submit autocomplete="off">
        {% csrf_token %}
        <div class="analysis-table__heading-actions analysis-table__heading-actions--fix-data">
            <div class="analysis-table__heading-select-all">
                <div class="form__checkbox form__checkbox--simple">
                    <label for="select-all" class="analysis-table__select-all-label"><input type="checkbox" class="select-all" value="select-all" id="select-all" disabled><span>Select All</span></label>
                </div>
                <button type="submit" class="bulk-assign-items analysis-table__bulk-assign-btn" data-href="{% url 'analysis-fix-missing-data-bulk' analysis.pk %}" disabled>{% include 'icons/disallowed.svg' %}<span>Assign Selected Items</span></button>
            </div>
        </div>  
        <div class="analysis-table__wrapper">
            <table class="analysis-table__table analysis-table__table--fix-data">
                <thead>
                    <tr>
                        <th colspan="2">{{ cost_line_item_count }} {% trans 'Cost Items' %}{% include 'features/_table-header-order-link.html' with column='budget_line_description' column_name='budget_line_description' order_by=filter.form.order_by.value.0 %}</th>
                        <th class="analysis-table__grant-cell">{{ 'Grant'|label_override:'ci_grant_code' }}{% include 'features/_table-header-order-link.html' with column='grant_code' column_name='grant_code' order_by=filter.form.order_by.value.0 %}</th>
                        <th>{{ 'Site'|label_override:'ci_site_code' }}{% include 'features/_table-header-order-link.html' with column='site_code' column_name='site_code' order_by=filter.form.order_by.value.0 %}</th>
                        <th>{% trans "Account Code Description" %}{% include 'features/_table-header-order-link.html' with column='account_code' column_name='account_code' order_by=filter.form.order_by.value.0 %}</th>
                        <th class="analysis-table__amount-cell">{% if not sensitive_data %}{{cost_line_items_sum|format_currency:analysis.currency_code }} {% endif %}{% include 'features/_table-header-order-link.html' with column='total_cost' column_name='total_cost' order_by=filter.form.order_by.value.0 %}</th>
                        <th><span class="analysis-table__help-in-th-label">{{ 'Sector'|label_override:'ci_sector_code' }}</span>{% help 'assign_sector_category__sector' %}</th>
                        <th><span class="analysis-table__help-in-th-label">{% trans "Category" %}</span>{% help 'assign_sector_category__category' %}</th>
                    </tr>
                </thead>
                {% if cost_line_item_count == 0 %}
                <tbody>
                    <tr>
                        <td colspan="7"><div class="analysis__message analysis__message--success analysis__message--table">All cost items complete</div></td>
                    </tr>
                </tbody>
                {% else %}
                    {% for cost_line_item in cost_line_items %}
                        <tbody class="analysis-table__tbody">
                            {% with sensitive_data=account_code_descriptions|dict_get:cost_line_item.account_code|attr:'sensitive_data' %}
                                {% with transactions_count=cost_line_item.transactions.count %}
                                    <tr>
                                        <td class="analysis-table__bulk-update-checkbox">
                                            <div class="form__checkbox form__checkbox--simple form__checkbox--no-label">
                                                <label>
                                                    <input type="checkbox" class="bulk-checkbox" {# No name attribute so it isn't submitted with the form, only used via JS #} value="{{cost_line_item.config.id}}" aria-label="Select">
                                                    <span></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td class="analysis-table__cost-item-cell">
                                            <div class="analysis-table__cost-item-summary">
                                                {% if dioptra_settings.show_transactions %}
                                                    {% if transactions_count > 0 %}
                                                            <button class="analysis-table__transactions-toggle" aria-label="{% trans 'Toggle transactions' %}" data-transactions-href="{% url 'cost-line-item-transactions' cost_line_item.pk %}?type=fixData" data-transactions-target="[data-cost-line-item-transactions='{{cost_line_item.id}}']"><div class="analysis-table__transactions-toggle-inner"><span class="analysis-table__transactions-toggle-icon analysis-table__transactions-toggle-icon--expand">{% include 'icons/triangle-right.svg' %}</span><span class="analysis-table__transactions-toggle-icon analysis-table__transactions-toggle-icon--collapse">{% include 'icons/triangle-down.svg' %}</span></div>
                                                    {% endif %}
                                                {% endif %}

                                                <div class="analysis-table__cost-item-title">{{cost_line_item.budget_line_description}}</div>

                                                {% if dioptra_settings.show_transactions %}
                                                    {% if transactions_count > 0 %}
                                                                <div class="analysis-table__cost-item-transactions-summary">{% blocktrans %}{{transactions_count}} transactions{% endblocktrans %}</div>
                                                            </button>
                                                    {% endif %}
                                                {% endif %}
                                            </div>
                                        </td>

                                        <td class="">{{cost_line_item.grant_code}}</td>
                                        <td class="analysis-table__site-cell">{{cost_line_item.site_code}}</td>
                                        <td class="analysis-table__description-cell">{% if account_code_descriptions|dict_get:cost_line_item.account_code %}{{account_code_descriptions|dict_get:cost_line_item.account_code|attr:'account_description'}}{% else %}{{cost_line_item.account_code}}{% endif %}</td>
                                        <td class="analysis-table__amount-cell">{% if not sensitive_data %}{{cost_line_item.total_cost|format_currency:analysis.currency_code }}{% endif %}</td>
                                        <td class="analysis-table__dropdown-cell">
                                            <label for="id_{{cost_line_item.config.id}}_sector" class="analysis-table__edit-row-label analysis-table__edit-row-label--fix-data">{% trans 'Sector' %}</label>
                                            <select name="config_sector_id_{{cost_line_item.config.id}}" id="id_{{cost_line_item.config.id}}_sector" class="analysis-table__edit-row-select analysis-table__edit-row-select--fix-data {% if not cost_line_item.config.sector %}select-no-value analysis-fix-data__select-no-value{% endif %}">
                                                <option disabled value="" {% if not cost_line_item.config.sector %}selected{% endif %}>{% trans "Choose..." %}</option>
                                                {% for sector_id, sector_name in sector_choices %}
                                                    <option value="{{sector_id}}" {% if sector_id == cost_line_item.config.sector_id %}selected{% endif %}>{{sector_name}}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                        <td class="analysis-table__dropdown-cell">
                                            <label for="id_{{cost_line_item.config.id}}_category" class="analysis-table__edit-row-label analysis-table__edit-row-label--fix-data">{% trans 'Category' %}</label>
                                            <select name="config_category_id_{{cost_line_item.config.id}}" id="id_{{cost_line_item.config.id}}_category" class="analysis-table__edit-row-select analysis-table__edit-row-select--fix-data {% if not cost_line_item.config.category %}select-no-value analysis-fix-data__select-no-value{% endif %}">
                                                <option disabled value="" {% if not cost_line_item.config.category %}selected{% endif %}>{% trans "Choose..." %}</option>
                                                {% for category_id, category_name in category_choices %}
                                                    <option value="{{category_id}}" {% if category_id == cost_line_item.config.category_id %}selected{% endif %}>{{category_name}}</option>
                                                {% endfor %}
                                            </select>
                                        </td>
                                    </tr>
                                        {% include 'analysis/analysis-table/_analysis-table-transaction-rows.html' with type='fixData' cost_line_item=cost_line_item transactions_count=transactions_count %}
                                {% endwith %}
                            {% endwith %}
                        </tbody>
                    {% endfor %}
                {% endif %}
            </table>
        </div>
        <div class="analysis-fix-data__footer">
            <div class="analysis-table__pagination">
                <span class="analysis-table__pagination-status">{{ paginator_page.start_index }}-{{paginator_page.end_index}} / {{ paginator.count }}</span>
                {% if paginator_page.has_previous %}
                    <a class="analysis-table__prev-next" href="{{request.path}}?page={{paginator_page.previous_page_number}}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{% trans "Previous" %} {{paginator.per_page}}</a>
                {% else %}
                    <span class="analysis-table__prev-next analysis-table__prev-next--disabled">{% trans "Previous" %} {{paginator.per_page}}</span>
                {% endif %}
                {% if paginator_page.has_next %}
                    <a class="analysis-table__prev-next" href="{{request.path}}?page={{paginator_page.next_page_number}}{% for key, value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{% trans "Next" %} {{paginator.per_page}}</a>
                {% else %}
                    <span class="analysis-table__prev-next analysis-table__prev-next--disabled">{% trans "Next" %} {{paginator.per_page}}</span>
                {% endif %}
            </div>
            {% if cost_line_item_count != 0 %}<button class="analysis-fix-data__submit analysis-table__edit-action analysis-table__edit-action--save" type="submit" name="action" value="save_cost_line_item_configs">{% include 'icons/disallowed.svg' %}<span>{% trans 'Save' %}</span></button>{% endif %}
        </div>
        <div class="analysis-table__actions analysis-table__actions--fix-data">
            {% with next=step.get_next %}
                {% if next and next.dependencies_met %}
                    <a class="analysis-navigation__prev-next analysis-navigation__prev-next--next" href="{{next.get_href}}"><strong>{% trans 'Next' %}</strong>{% include 'icons/caret-right-thin.svg' %}</a>
                {% else %}
                    <span class="analysis-navigation__prev-next analysis-navigation__prev-next--next disabled" disabled><strong>{% trans 'Next' %}</strong>{% include 'icons/caret-right-thin.svg' %}</span>
                {% endif %}
            {% endwith %}
        </div>
    </form>

{% endblock %}
