{% extends "analysis/base.html" %}
{% load help panels_form_extras i18n %}

{% block extrastyle %}
    {{form.media.css}}
{% endblock %}

{% block extrascript %}
    {{form.media.js}}
{% endblock %}

{% block analysis_content %}

    <form action="{{request.path}}" method="POST" novalidate>
      {% csrf_token %}

      <div class="container-fluid">
          <h2>{% trans "Cost Items" %}</h2>
          <button type="submit" name="submit">Confirm Data Fixed</button>
      </div>
    </form>
{% endblock %}
