{% extends "theme_base.html" %}
{% load help panels_form_extras i18n rules analysis humanize website_tags static %}

{% block header %}{% include 'layout/_header.html' %}{% endblock header %}

{% block content_top %}{% endblock content_top %}

{% block content %}
    <div class="insights">
        <div class="container">
            {% has_perm 'website.change_analysis' user analysis as can_change_analysis %}
            {% if can_change_analysis %}
                <div class="insights__actions">
                    <a href="{% url 'analysis-define-update' analysis.pk %}" class="insights__action">Edit</a>
                </div>
            {% endif %}
            <div class="insights__header">
                <div class="insight__header-primary">
                    <h1 class="insights__title">{{ analysis.title }}</h1>
                    <h2 class="insights__subtitle">{{ analysis.activity.name }}</h2>
                    <p class="insights__description">{{ analysis.description }}</p>
                </div>
                <div class="insights__header-secondary">
                    <dl class="insights__data-list">
                        <dd class="insights__data-label">{% trans 'Date Range' %}</dd>
                        <dl class="insights__data-value">{{ analysis.start_date }} - {{ analysis.end_date }}</dl>
                        <dd class="insights__data-label">{% trans 'Country' %}</dd>
                        <dl class="insights__data-value">{{ analysis.country.name }}</dl>
                        <dd class="insights__data-label">{{ 'Grants'|label_override:'ci_grant_code' }}</dd>
                        <dl class="insights__data-value">{{ analysis.grants_list|join:", " }}</dl>
                        {% for parameter_id, parameter_value in analysis.parameters.items %}
                            {% for output_metric in analysis.activity.output_metric_objects %}
                                {# Due to .parameters being populated by all the output metrics associated#}
                                {# with that Activity we filter here in order to only show the ones with #}
                                {# labels in the current output metric.   Otherwise we'd get duplicates in this box.#}
                                {% if output_metric.parameters|dict_get:parameter_id|attr:"label" %}
                                    <dd class="insights__data-label">{{ output_metric.parameters|dict_get:parameter_id|attr:"label" }}</dd>
                                    <dl class="insights__data-value">{{ parameter_value|floatformat:2|intcomma }}</dl>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                        {%  if not analysis.activity.is_iov %}
                            <dd class="insights__data-label">{% trans 'Output count data source' %}</dd>
                            <dl class="insights__data-value">{{ analysis.output_count_source }}</dl>
                        {%  endif %}
                        <dd class="insights__data-label">{% trans 'Currency' %}</dd>
                        <dl class="insights__data-value">{% if analysis.get_currency_code_display %}{{ analysis.get_currency_code_display }} {% else %} {{ currency_config.name }}{% endif %}</dl>

                    </dl>
                    <div class="insights__created">Created by {{ analysis.owner.name }} on {{ analysis.created|date }}</div>
                </div>
            </div>
            <div class="insights__group">
                <h2 class="insights__heading">{% trans 'Cost Efficiency' %}</h2>
                {% for metric in output_metrics %}
                    <div class="insights__efficiency">
                        <div class="insights__efficiency-items">
                            {% include 'insights/_efficiency-item.html' with icon=analysis.activity.icon %}
                        </div>
                    </div>
                    {% if metric.insights_chart_data %}
                        <h3 class="insights__subheading">{% trans 'Comparison to Similar Programs' %}{% help 'insights__comparison_to_similar_programs' %}</h3>
                        {% include 'insights/_efficiency-comparison.html' with metric=metric %}                       
                    {% endif %}
                {% endfor %}
            </div>
            {% if cost_efficiency_strategies|length > 0 %}
                <div class="insights__group">
                    <h2 class="insights__heading">{% trans 'Strategies' %}{% help 'insights__strategies' %}</h2>
                    {% include 'insights/_strategies.html' with strategies=cost_efficiency_strategies %}
                </div>
            {% endif %}
            <div class="insights__group">
                <h2 class="insights__heading">{% trans 'Cost Breakdown' %}</h2>
                {% include 'insights/_cost-breakdown.html' with cost_breakdown=cost_breakdown %}
            </div>
            <div class="insights__group">
                <h2 class="insights__heading">{% trans 'Full Cost Model' %}{% help 'insights__full_cost_model' %}</h2>
                {% include 'insights/_cost-model.html' with activity_name=analysis.activity.name paginator=cost_model_table_paginator page=cost_model_table_page %}
            </div>
        </div>
    </div>
{% endblock content %}

{% block extrascript %}
    <script type="text/javascript" src="{% static 'website/js/chart.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'website/js/insights-charts.js' %}"></script>
{% endblock %}