{% extends "analysis/base.html" %}
{% load help panels_form_extras i18n humanize analysis website_tags %}

{% block extrastyle %}
    {{form.media.css}}
{% endblock %}

{% block extrascript %}
    {{form.media.js}}
{% endblock %}

{% block analysis_header %}
    <div class="analysis__title-wrapper analysis__title-wrapper--expanded">
        <h1 class="analysis__title">{{title}}</h1>
        {% help 'step_guidance__load_data' %}
    </div>
{% endblock %}

{% block analysis_content %}

    {% if not step.is_complete and not analysis.needs_transaction_resync %}

      <div class="row row--flex">

        <div class="col-md-6 analysis__load-data-group analysis__load-data-group--upload--import">
            <h2 class="analysis__subtitle">{% trans "Import transactions from the data store" %}</h2>
            {% if import_errors %}
                {% include 'forms/_errors.html' with errors=import_errors %}
            {% endif %}
            {% if transactions_count != None %}
                <div class="analysis__load-data-import-transactions-count">
                    {% blocktrans with transactions_count=transactions_count|intcomma %}
                        We found <strong>{{transactions_count}}</strong> transactions in the data store matching your analysis <span class="analysis__load-data-import-transactions-count-inline">parameters.
                    {% endblocktrans %}
                    {% help 'load_data__matching_transactions' %}</span>
                </div>
            {% endif %}
            <dl class="analysis__data-list">
              {% if transaction_country_filter %}
                <dt class="analysis__data-list-label">{% trans "Country:" %}</dt><dd class="analysis__data-list-value">{{analysis.country.name}}</dd>
              {% endif %}
                <dt class="analysis__data-list-label">{{ 'Grants'|label_override:'ci_grant_code' }}:</dt><dd class="analysis__data-list-value">{{analysis.query_grants|join:", "}}</dd>
                <dt class="analysis__data-list-label">{% trans "Date Range:" %}</dt><dd class="analysis__data-list-value">{{analysis.start_date}} - {{analysis.end_date}}</dd>
            </dl>
            <form action="{{request.path}}" method="POST" novalidate data-show-loading-on-submit>
                {% csrf_token %}
                <button type="submit" name="action" value="import_data" class="form__file-button" {% if transactions_count == 0 or transactions_count > import_transaction_limit %}disabled{% endif %}>{% trans "Import Data" %}</button>
            </form>
            {% if transactions_count == 0 %}
                <p class="analysis__error">{% trans "No matching transactions were found for these parameters. If you believe there should be data for this analysis, please contact the Dioptra administrator." %}</p>
            {% endif %}
            {% if transactions_count > import_transaction_limit %}
                <p class="analysis__error">{% trans "The number of transactions for this analysis exceeds Dioptra's data limit of " %} {{ import_transaction_limit|intcomma }}. {% trans "Please return to the previous step to double check if all parameters such as the date range are accurate. If this error still persists, please contact the Dioptra administrator." %}</p>
            {% endif %}

        </div>

        <div class="col-md-6 analysis__load-data-group analysis__load-data-group--upload">
            <h2 class="analysis__subtitle">{% trans "OR Upload a budget spreadsheet" %}</h2>
            <p>{% trans "If expense data about the program you wish to study is not available in your organization's finance system (e.g. because the program is still being planned), you can paste budget data into a spreadsheet template and upload directly." %}</p>
            <form action="{{request.path}}" method="POST"  enctype="multipart/form-data" novalidate data-show-loading-on-submit>
                {% csrf_token %}
                <div class="form-group form-group--file">
                    {% if upload_errors %}
                        {% include 'forms/_errors.html' with errors=upload_errors %}
                    {% endif %}
                <div class="form-group">
                    <label for="currency_code">Select Currency:</label>
                    <select name="currency_code" id="currency_code">
                        {% for currency, currency_name in analysis.CURRENCY_CHOICES %}
                            <option {% if currency == currency_config.code %}selected    {% endif %} value="{{ currency }}">{{ currency_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                    <div class="form__file">
                        <input type="file" name="file" />
                        <button type="button" class="form__file-button">{% trans "Choose File" %}</button>
                        <div class="form__file-names"></div>
                    </div>
                </div>
                <div class="form-group">
                    <button disabled type="submit" name="action" value="upload" class="form__file-button form__file-button--upload">{% trans "Upload" %}</button>
                </div>

                <div>
                {% if dioptra_settings.budget_upload_template %}
                    <div class="analysis__load-data-download-group">
                        <a class="analysis__load-data-download-link" href="{{dioptra_settings.budget_upload_template.url}}" download>{% trans "Download Template" %}</a>{% help 'load_data__download_template' %}
                    </div>
                {% endif %}
                </div>

            </form>
        </div>

      </div>


    {% else %}
        <h3 class="analysis__label">Details</h3>
        <dl class="analysis__data-list">
            <dt class="analysis__data-list-label">{% trans "Source:" %}</dt><dd  class="analysis__data-list-value">{{analysis.source}}</dd>
                {% with transaction_count=analysis.transactions.count %}
                    {% if transaction_count > 0 %}
                        <dt class="analysis__data-list-label">{% trans "Transactions:" %}</dt><dd class="analysis__data-list-value">{{transaction_count|intcomma}}</dd>
                    {% endif %}
                {% endwith %}
                {% with cost_line_item_count=analysis.cost_line_items.count %}
                    <dt class="analysis__data-list-label">{% trans "Cost Line Items:" %}</dt><dd class="analysis__data-list-value">{{cost_line_item_count|intcomma}}</dd>
                {% endwith %}
          {% if transaction_country_filter %}
            <dt class="analysis__data-list-label">{% trans "Country:" %}</dt><dd class="analysis__data-list-value">{{analysis.country.name}}</dd>
          {% endif %}
            <dt class="analysis__data-list-label">{% trans "Grants"|label_override:'ci_grant_code' %}:</dt><dd class="analysis__data-list-value">{{analysis.grants_list|join:', '}}</dd>
            <dt class="analysis__data-list-label">{% trans "Date Range:" %}</dt><dd class="analysis__data-list-value">{{analysis.start_date}} - {{analysis.end_date}}</dd>
            <dt class="analysis__data-list-label">{% trans "Currency:" %}</dt><dd class="analysis__data-list-value">{% if analysis.get_currency_code_display %}{{ analysis.get_currency_code_display }} {% else %} {{ currency_config.name }}{% endif %}</dd>
        </dl>

      {% if analysis.needs_transaction_resync %}
        <form action="{{request.path}}" method="POST" novalidate class="analysis__reset-form" data-show-loading-on-submit>
            {% csrf_token %}
          <p class="analysis__reset-help"><em>{% trans "This analysis has been duplicated with new dates, so the transactions need to be synchronized." %}</em></p>
          <p class="analysis__reset-help"><em>{% trans "This may cause new transactions to be imported; transactions that were previously imported but no longer match the new dates will be deleted. This may change the number of transactions and cost line items displayed above." %}</em></p>
          <p class="analysis__reset-help"><em>{% trans "Some analysis steps may become incomplete and need to be completed. Please remember to update the output number on the Define Analysis step, as well as the percentage allocation for Direct Shared Costs and ICR on the Allocate Costs step if necessary." %}</em></p>
          <p class="analysis__reset-help"><button class="form__file-button form__file-button--upload" type="submit" name="action" value="transaction_resync" >{% trans "Synchronize transactions" %}</button></p>
        </form>
      {% else %}

        <form action="{{request.path}}" method="POST" novalidate class="analysis__reset-form" data-show-loading-on-submit>
            {% csrf_token %}
            <p class="analysis__reset-help"><em>{% trans "If you need to load transactions with a different date range into the analysis, go to the Dashboard and Duplicate this analysis with a different date range. To change other parameters, you need to clear all data, which will clear all your work in all subsequent steps of the analysis." %}</em><button class="analysis__reset" type="submit" name="action" value="reset_data" data-click-confirm="{% trans "Are you sure you would like to clear all data for this analysis? All subsequent steps will need to be updated. " %}"> {% trans "Clear All Data" %}</button></p>


        </form>

        {% endif %}

    {% endif %}
    <div class="analysis__actions">
        {% with next=step.get_next %}
            {% if next and next.dependencies_met %}
                <a class="analysis-navigation__prev-next analysis-navigation__prev-next--next" href="{{next.get_href}}"><strong>{% trans "Next" %}</strong>{% include 'icons/caret-right-thin.svg' %}</a>
            {% else %}
                <span class="analysis-navigation__prev-next analysis-navigation__prev-next--next disabled" disabled><strong>{% trans "Next" %}</strong>{% include 'icons/caret-right-thin.svg' %}</span>
            {% endif %}
        {% endwith %}
    </div>
{% endblock %}
