{% extends "analysis/base.html" %}
{% load help panels_form_extras i18n humanize analysis website_tags %}

{% block analysis_header %}
    <div class="analysis__title-wrapper analysis__title-wrapper--expanded">
        <h1 class="analysis__title">{{title}}</h1>
        {% help 'step_guidance__set_contribution' %}
    </div>
{% endblock %}

{% block analysis_content %}
    <div class="analysis-table analysis-categories">

        <div class="analysis-table__header">
            <h2 class="analysis-table__subtitle">{{step.get_nav_title}}{% help_sector step.sector.name 'set_contribution' %}</h2>
            <div class="analysis-table__summary">{% if unset_count > 0 %}{{unset_count}} {% if unset_count == 1%}{% trans 'Category to set' %}{% else %}{% trans 'Categories to set' %}{% endif %}{% endif %}</div>
        </div>  


        <form action="{{request.path}}" method="POST" novalidate data-show-loading-on-submit class="warn-unsaved-changes">
          {% csrf_token %}        

            <div class="analysis-table__categories">
                {% for sector_category_grant in sector_category_grants %}
                    <div class="analysis-table__category">
                        {% with cost_line_items=sector_category_grant.get_cost_line_items %}

                            <div class="analysis-table__category-header">
                                <h3 class="analysis-table__category-name">{{sector_category_grant.sector_category.category.name}}{% help_category sector_category_grant.sector_category.category.name 'set_contribution' %}</h3>
                                <div class="analysis-table__category-header-supplement">
                                    <div class="analysis-table__cost-items">{{cost_line_items|length}} {% trans 'Cost Items' %}{% if sector_category.confirmed %} {% trans 'Confirmed' %}{% endif %}</div>
                                    <div class="analysis-table__category-header-total"><strong>{{cost_line_items|sum_cost_line_items|format_currency:analysis.currency_code }}</strong></div>
                                    {% include 'analysis/analysis-table/_analysis-table-header-toggle.html' %}
                                    <div class="analysis-table__set-contributions">
                                        <div class="form__radio form__radio--inline form__radio--inline-right">
                                            <label for="sector_category_grant_yes_{{sector_category_grant.id}}">
                                                <input type="radio" id="sector_category_grant_yes_{{sector_category_grant.id}}" name="sector_category_grant_{{sector_category_grant.id}}" value="yes" {% if sector_category_grant.contributes_to_activity == True %}checked{% endif %}/>
                                                <span>Yes</span>
                                            </label>                                           
                                        </div>
                                        <div class="form__radio form__radio--inline form__radio--inline-right">
                                            <label for="sector_category_grant_no_{{sector_category_grant.id}}">
                                            <input type="radio" id="sector_category_grant_no_{{sector_category_grant.id}}" name="sector_category_grant_{{sector_category_grant.id}}" value="no" {% if sector_category_grant.contributes_to_activity == False %}checked{% endif %} />
                                                <span>No</span>
                                            </label>                                     
                                        </div>
                                    </div>
                                </div>
                            </div>      

                            <div class="analysis-table__category-content">
                                {% include 'analysis/analysis-table/_analysis-table-table-base.html' with contributionEdit='true' %}
                            </div>          
                        {% endwith %}
                    </div>
                {% endfor %}
            </div>
            <div class="analysis-table__actions">
                <button class="analysis-table__save" type="submit" name="submit">Save</button>
                {% with next=step.get_next %}
                    {% if next and next.dependencies_met %}
                        <a class="analysis-navigation__prev-next analysis-navigation__prev-next--next" href="{{next.get_href}}"><strong>{% trans 'Next' %}</strong>{% include 'icons/caret-right-thin.svg' %}</a>
                    {% else %}
                        <span class="analysis-navigation__prev-next analysis-navigation__prev-next--next disabled" disabled><strong>{% trans 'Next' %}</strong>{% include 'icons/caret-right-thin.svg' %}</span>
                    {% endif %}
                {% endwith %}
                {% if next_message %}
                  <div class="analysis-table__summary">{{ next_message }}</div>
                {% endif %}
            </div>  
        </form>
    </div>
{% endblock %}

