{% load panels_form_extras %}

<div class="panel-body-contents">
    {% if form.non_field_errors %}
      <div class="help-block errors">
        <ul>
          {% for error in form.non_field_errors %}
            <li><em>{{ error }}</em></li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}

    {% for field in form %}
        {% if field.is_hidden %}
          {{ field }}
        {% else %}
          {% include 'bootstrap/field.html' with field=field|add_input_classes %}
        {% endif %}
    {% endfor %}
</div>
