<div class="pagination">
  {% if page_obj.has_previous or page_obj.has_next %}
      <span class="step-links">
        {% if page_obj.has_previous %}
            <a title="Previous" class="pagination-prev btn btn-default"href="?page={{ page_obj.previous_page_number }}{% for key,value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">&laquo;</a>
        {% else %}
            <span class="pagination-prev disabled">&laquo;</span>
        {% endif %}

        <span class="current">
          {{ page_obj.start_index }}-{{page_obj.end_index}} / {{ paginator.count }}
        </span>

        {% if page_obj.has_next %}
            <a title="Next" class="pagination-next btn btn-default" href="?page={{ page_obj.next_page_number }}{% for key,value in request.GET.items %}{% if key != 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">&raquo;</a>
        {% else %}
            <span class="pagination-next disabled">&raquo;</span>
        {% endif %}
      </span>
  {% endif %}
</div>
