{% load panels_extras %}
{% load static %}
<link href="https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,700" rel="stylesheet">
<script type="text/javascript">{% panels_messages %}</script>
<script type="text/javascript" src="{% static "panels/js/panels.js" %}"></script>
{% if user.is_authenticated %}
    <a href="#admin-overlay" aria-haspopup="true" aria-expanded="false" id="admin-overlay-trigger" class="admin-overlay-trigger hidden-xs hidden-sm" aria-label="Admin Central Operations"><span>{% include "svg/ombu-icon-admin-gears.svg" %}</span></a>

    <div id="admin-overlay" aria-labelledby="admin-overlay-trigger">
        <div class="admin-overlay--wrapper">
            <div class="admin-overlay--inner">
                <div class="admin-overlay--header">
                    <button id="admin-overlay-close"><span class="admin-overlay-close-label">Esc</span><span>{% include "svg/close.svg" %}</span></button>
                    {% if perms.ombucore_admin.access_admin_central %}
                        <a class="admin-overlay--panels-link" href="{% url 'ombucore.admin:admin_central' %}" data-panels-trigger><span>Open <strong>Admin Central</strong></span><span>{% include "svg/ombu-icon-admin-gears.svg" %}</span></a>
                    {% endif %}
                </div>

                {% with info=object|get_admin_overlay_info:user %}
                    {% if info %}
                        <div class="admin-overlay--info">
                            {% spaceless %}
                            <dl class="admin-overlay--info-list">
                                {% for item in info.items %}
                                    <dt class="admin-overlay--label admin-overlay--info-table-label">{{item.0}}</dt>
                                    <dd title="{{item.1|striptags}}" class="admin-overlay--info-table-value">{{item.1}}</dd>
                                {% endfor %}
                            </dl>

                            {% if info.extra_markup %}
                                {{info.extra_markup|safe}}
                            {% endif %}

                            {% if info.change_url %}
                                <a href="{{info.change_url}}" data-panels-trigger class="admin-overlay--edit btn">Open in Admin</a>
                            {% endif %}
                            {% endspaceless %}
                        </div>

                    {% endif %}
                {% endwith %}

            </div>
        </div>
    </div>
{% endif %}
