{% extends 'panel-form.html' %}
{% load panels_extras panels_form_extras %}

{% block panel-scrollable %}panel-body-scrollable at-top at-bottom{% endblock %}

{% block panel-body %}
  <div class="form-no-tabs">
    <div class="form-group">
      <label class="control-label" for="id_choices">{{form.label}}</label>
      <div class="panels-relation-widget--multiple panels--reorder">
        <div style="display: none;">
          {% csrf_token %}
          {% for field in form %}
            {{field}}
          {% endfor %}
        </div>
        <ul class="panels-relation-widget--results panels--reorder--results">
          {% for obj in form.fields.choices.queryset %}
            {% with info=obj|related_info %}
              <li class='panels-relation-widget--result panels--reorder--result' data-id="{{obj.pk}}" data-obj-info="{{info|jsonattr}}">
                <span class="handle">☰</span>
                <span class="title" title="Implementations Crystal Establishment Turnaround">{{info.title}}</span>
                <span class="operations">
                  {% if obj_actions|get_field:obj.pk %}
                    {% for action_link in obj_actions|get_field:obj.pk %}
                      {{action_link.render}}
                    {% endfor %}
                  {% endif %}
                </span>
              </li>
            {% endwith %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock %}
