{% extends 'html-panel.html' %}
{% load mptt_tags static panels_extras panels_form_extras ombucore_tags %}

{% block extrahead %}
  <link href="{% static "panels/lib/jquery-ui/jquery-ui.sortable.min.css" %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block panel-body %}
  <div class="nested-reorder">
    <div class="nested-reorder--header">
      {% is_localization_on as localization_on %}
      {% if localization_on %}
        <div class="locale-dropdown locale-dropdown--nested-reorder">
          <a href="#" class="locale-dropdown--toggle"><span class="locale-dropdown--localization-icon">{% include 'svg/localization.svg' %}</span>{{ current_language }}<span class="locale-dropdown--arrow-icon">{% include 'svg/arrow-down.svg' %}</span></a>
          <div class="locale-dropdown--options">
            {% for locale, language in locales.items %}
              <label for="{{ locale }}"{% if locale == request.GET.locale %}class="disabled"{% endif %}>{{ language }}</label>
              <input id="{{ locale }}" type="radio" name="locale" class="nested-reorder-locale-select" value="{{ locale }}">
            {% endfor %}
          </div>
        </div> 
      {% endif %}
      <p>Drag items to sort. They will be saved automatically when dropped.</p>
    </div>
    <ol data-href="{{request.path}}" data-csrf-token="{{csrf_token}}">
      {% recursetree nodes %}
        <li class="" data-pk="{{node.pk}}">
          <div>
            {% with info=node|related_info %}
              <span class="handle">☰</span>
              <span class="title" title="{{info.title}}">{{info.title}}</span>
              <span class="operations">
                {% if obj_actions|get_field:node.pk %}
                  {% for action_link in obj_actions|get_field:node.pk %}
                    {{action_link.render}}
                  {% endfor %}
                {% endif %}
              </span>
            {% endwith %}
          </div>
          {% if not node.is_leaf_node %}
            <ol>
              {{ children }}
            </ol>
          {% endif %}
        </li>
      {% endrecursetree %}
    </ol>
  </div>
{% endblock %}

{% block panel-foot-wrapper %}{% endblock %}

{% block extrascript %}
  <script type="text/javascript" src="{% static 'panels/lib/jquery-ui/jquery-ui.sortable.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'panels/lib/jquery.mjs.nestedSortable.js' %}"></script>
  <script type="text/javascript" src="{% static 'panels/js/panels-nested-reorder.js' %}"></script>
{% endblock %}
