{% extends 'html-panel.html' %}
{% load static debug %}
{% load panels_extras panels_form_extras ombucore_tags %}

{% block extrahead %}
{% endblock %}

{% block extrastyle %}
{% endblock extrastyle %}

{% block panel-body %}
    <div class="panel-body-contents">
        <div class="panel-operations-buttons">
            {% for operation in operations %}
                <div class="form-group">
                    {% if operation|class_name == 'submitoperation' %}
                        <form action="{{request.path}}" method="POST" {% if operation.confirmation_text %}onsubmit="return confirm('{{operation.confirmation_text}}');"{% endif %}>
                            <button type="submit" name="method_name" value="{{operation.method_name}}" class="btn btn-{{operation.style}}" />{{operation.text}}</button>
                            {% csrf_token %}
                        </form>
                    {% endif %}

                    {% if operation.help_text %}
                        <div class="help-block"><p>{{operation.help_text}}</p></div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
