{% extends 'html-panel.html' %}

{% block panel-body %}
    <div class="asset-preview-info">
        <table class="table">
            <tr><td class="active">Created</td><td>{{object.created}}</td></tr>
        </table>
    </div>
{% endblock %}

{% block panel-foot-wrapper %}
{% endblock %}
