{% load mptt_tags menu_tags %}

{% recursetree nodes %}
  <li>
    <a href="{{ node.url }}" class="{% if page and page|any_url_db_value == node.url.to_db_value %}active{% endif %}">{{ node.title }}</a>
    {% if not node.is_leaf_node %}
      <ul>
        {{ children }}
      </ul>
    {% endif %}
  </li>
{% endrecursetree %}
