<!DOCTYPE html>
{% load static i18n ombucore_tags %}
<html>
   <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
      <title>{% block title %}{% endblock %}</title>
      <meta name="description" content="{% block meta_description %}{% endblock %}"></meta>

      {% is_localization_on as localization_on %}
      {% if localization_on %}
        {% get_current_language as LANGUAGE_CODE %}
        <meta http-equiv="content-language" content="{{ LANGUAGE_CODE }}">
        {% if localization_links %}
          {% include "_localization_alternate_links.html" with links=localization_links %}
        {% endif %}
      {% endif %}

      {% block extrahead %}{% endblock %}

      {% if user.is_authenticated %}
          <link href="{% static "panels/css/panels.css" %}" rel="stylesheet" type="text/css" />
      {% endif %}

      {% block extrastyle %}{% endblock %}
  </head>
  <body>
    <div id="root-alerts-container"></div>

    {% block content_top %}{% endblock content_top %}

    {% block content %}{% endblock content %}

    {% block content_bottom %}{% endblock content_bottom %}

    {% if localization_on and locale_selector_links %}
        {% include 'loc_vers/_locale-selector.html' with links=locale_selector_links %}
    {% endif %}

    <script type="text/javascript" src="{% static "panels/js/jquery-1.12.3.min.js" %}"></script>
    {% if user.is_authenticated %}
        {% include 'admin-scripts.html' %}
    {% endif %}

    {% block extrascript %}{% endblock %}
    {% block page_bottom %}{% endblock %}


  </body>
</html>
