{% load help i18n humanize website_tags %}
<div class="cost-model" id="cost-model">
    <div class="cost-model__description">
        <p>{% blocktrans %}The cost-efficiency results above reflect all of the features of this program: how many inputs were needed, what prices were paid for those inputs, and how much of each input was used for {{activity_name}} compared with the other activities in this grant. A good way to explore what is driving these results is to arrange the lines of the cost model from highest-value to lowest-value, in order to see which inputs account for most of the cost of {{activity_name}}. Are the inputs which we spend the most money on also those which provide the most value to our clients? If spending on a particular input seems disproportionately high, why is it higher than in other programs? Did we use more of that input for this program, versus others? Did that input cost more for this program than it usually does?{% endblocktrans %}</p>
    </div>
    <div class="cost-model__table-group">
        <div class="cost-model__actions cost-model__actions--header">
            <a class="cost-model__action" href="{% url 'analysis-cost-model-spreadsheet' object.id %}">Download full cost model</a>
        </div>        
        <div class="cost-model__table-wrapper">
            <table class="cost-model__table">
                <thead>
                    <tr>
                        <th>{{ 'Sector'|label_override:'ci_sector_code' }}</th>
                        <th>{% trans 'Category' %}</th>
                        <th>{% trans 'Cost Item' %}</th>
                        <th class="analysis-table__grant-cell">{{ 'Grant'|label_override:'ci_grant_code' }}</th>
                        <th>{{ 'Site'|label_override:'ci_site_code' }}</th>
                        <th class="cost-model__table-right-aligned">{{ 'Total Cost'|label_override:'ci_total_cost' }}{% include 'features/_table-header-order-link.html' with column='total_cost' column_name='total_cost' order_by=request.GET.order_by|default:'-allocated_cost' anchor="cost-model" %}</th>
                        <th class="cost-model__table-right-aligned">{% trans '% to Activity' %}{% include 'features/_table-header-order-link.html' with column='config__allocation' column_name='config__allocation' order_by=request.GET.order_by|default:'-allocated_cost' anchor="cost-model" %}</th>
                        <th class="cost-model__table-right-aligned">{% trans 'Item Total' %}{% include 'features/_table-header-order-link.html' with column='allocated_cost' column_name='allocated_cost' order_by=request.GET.order_by|default:'-allocated_cost' anchor="cost-model" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {# foreach item #}
                    {% for item in page.object_list %}
                    <tr>
                        <td>{{item.config.sector.name}}</td>
                        <td>{{item.config.category.name}}</td>
                        <td>{{item.budget_line_description}}</td>
                        <td>{{item.grant_code}}</td>
                        <td>{{item.site_code}}</td>
                        <td class="cost-model__table-right-aligned">{{item.total_cost|format_currency:analysis.currency_code}}</td>
                        <td class="cost-model__table-right-aligned">{% if item.note %}{% include 'help/_help-allocation.html' %}{% endif %}{{item.config.allocation|floatformat:2}}%</td>
                        <td class="cost-model__table-right-aligned">{{item.allocated_cost|format_currency:analysis.currency_code}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="cost-model__actions cost-model__actions--footer">
            {% include 'features/_pagination.html' with is_paginated=True page_obj=page paginator=paginator anchor="cost-model" %}
            <a class="cost-model__action" href="{% url 'analysis-cost-model-spreadsheet' object.id %}">Download full cost model</a>
        </div>           
    </div>
</div>