{% load help i18n humanize panels_extras analysis website_tags %}
<div class="cost-breakdown">
    <div class="cost-breakdown__group cost-breakdown__group--program-costs">
        <h3 class="cost-breakdown__group-label">{% trans 'All Cost Categories' %}</h3>
        <table class="cost-breakdown__table">
            <thead>
                <tr>
                    <th>{{ 'Sector'|label_override:'ci_sector_code' }}</th>
                    <th>{% trans 'Category' %}</th>
                    <th class="cost-breakdown__table-right">{% trans 'Amount' %}</th>
                    <th class="cost-breakdown__table-right">{% trans '% of Total Amount' %}</th>
                </tr>
            </thead>
            <tbody>
                {% for item in cost_breakdown.costs_by_sector_category %}
                <tr>
                    <td>{{item.sector_name}}</td>
                    <td class="cost-breakdown__category">{{item.category_name}}</td>
                    <td class="cost-breakdown__amount cost-breakdown__table-right">{{item.amount|format_currency:analysis.currency_code}}</td>
                    <td class="cost-breakdown__percentage cost-breakdown__table-right">{{item.percent_of_total|floatformat:2}}%</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2"><strong>{% trans 'Total Amount' %}</strong></td>
                    <td class="cost-breakdown__table-right">{{cost_breakdown.total_cost|format_currency:analysis.currency_code}}</td>
                    <td class="cost-breakdown__table-right">100%</td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="cost-breakdown__group cost-breakdown__group--top-cost-categories">
        <h3 class="cost-breakdown__group-label">{% trans 'Top Cost Categories' %}{% help 'insights__top_cost_categories_all_other_costs' %}</h3>
        <canvas id="insightsPie" class="cost-breakdown__graph" data-pie-chart-data="{{cost_breakdown.chart_data|jsonattr}}"></canvas>
    </div>
</div>