{% load help i18n humanize analysis website_tags %}
<div class="efficiency-item">
    <div class="efficiency-item__groups">
        <div class="efficiency-item__group efficiency-item__group--direct">
            <div class="efficiency-item__group-primary">
                <div class="efficiency-item__cost">{{metric.output_cost_direct_only|format_currency:analysis.currency_code}}</div>
                <div class="efficiency-item__group-label">{{metric.output_metric.metric_name}} ({% trans 'Direct Project Costs only' %}){% help 'insights__cost_per_metric_direct' %}</div>
            </div>
            <div class="efficiency-item__icon">{% include 'icons/insights/'|add:icon|add:'.svg' %}</div>
        </div>
        <div class="efficiency-item__group efficiency-item__group--total">
            <div class="efficiency-item__group-primary">
                <div class="efficiency-item__cost">{{metric.output_cost_all|format_currency:analysis.currency_code}}</div>
                <div class="efficiency-item__group-label">{{metric.output_metric.metric_name}} ({% trans 'including Direct Project Costs, Direct Shared Costs, Indirect Costs' %}){% help 'insights__cost_per_metric_shared' %}</div>
            </div>
            <div class="efficiency-item__icon">{% include 'icons/insights/'|add:icon|add:'.svg' %}</div>
        </div>
    </div>
</div>