{% extends "theme_base.html" %}

{% block title %}{{activity.name}}{% endblock %}

{% block header %}{% include 'layout/_header.html' %}{% endblock header %}
{% load help panels_form_extras i18n analysis static %}

{% block content_top %}{% endblock content_top %}

{% block content %}
    <div class="insights">
        <div class="container">
            <div class="insights__header">
                <div class="insight__header-primary">
                    <h1 class="insights__title">{{activity.name}}</h1>
                    <p class="insights__description">{{activity.description}}</p>
                </div>
            </div>
            {% if show_cost_efficiency_comparison %}
                <div class="insights__group">
                    <h2 class="insights__heading">{% trans 'Cost Efficiency Comparison' %}{% help 'program_design_lessons__cost_efficiency_comparison' %}</h2>
                    {% for metric in output_metrics %}
                        {% if metric.insights_chart_data %}
                            {% include 'insights/_efficiency-comparison.html' with metric=metric %}
                        {% endif %}
                    {% endfor %}
                </div>
            {% endif %}
            {% if cost_efficiency_strategies|length > 0 %}
                <div class="insights__group">
                    <h2 class="insights__heading">{% trans 'Strategies' %}{% help 'program_design_lessons__strategies' %}</h2>
                    {% include 'insights/_strategies.html' with strategies=cost_efficiency_strategies %}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock content %}

{% block extrascript %}
    <script type="text/javascript" src="{% static 'website/js/chart.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'website/js/insights-charts.js' %}"></script>
{% endblock %}