{% extends 'email/email-base.html' %}

{% load i18n %}

{% block email_body %}
    <h1>{% trans 'Reset Your Password' %}</h1>
    <p>{% trans 'You or an administrator requested that you change your password.' %} <a href="{{ password_reset_url }}">{% trans 'Reset your Dioptra password' %}</a> {% trans 'to update your account.' %}</p>
{% endblock %}