/**
 * In Editor styles.
 */
[data-widget="ombuvideo"] {
  display: block;
}
[data-widget="ombuvideo"] label {
  display: none;
}
[data-widget="ombuvideo"] img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}


/**
 * Dialog styles.
 */
.ombuvideo-dialog {}
.ombuvideo-dialog .preview {
  max-width: 100%;
}
.ombuvideo-dialog .preview label {
  font-weight: bold;
  display: block;
  margin-bottom: 0.5em;
}
.ombuvideo-dialog .preview img {
  display: block;
  max-width: 100%;
}
