.analysis {
  padding-left: $analysis-sidebar-width;
}

.analysis__main {
  position: relative;
  margin-left: -$analysis-sidebar-caret-width;
  width: calc(100% + #{$analysis-sidebar-caret-width});
  z-index: 2;

  .filter-list {
    margin-bottom: 1.5rem;
  }
}

.analysis__title-wrapper {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;  

  .analysis--guidance-collapsed & {
    flex-wrap: nowrap;
  }
}

.analysis__title {
  margin-top: 0;
  margin-bottom: 0;
  @include font-size(28, 1.07);
}

.analysis__subtitle {
  margin-top: 0;
  @include font-size(24, 1.2); 
}

.analysis__sidebar {
  height: 100vh;
  left: 0;
  overflow-y: auto;
  padding-right: $analysis-sidebar-caret-width;
  width: $analysis-sidebar-width;
  position: fixed;
  top: 0;
  z-index: 3;
}

.analysis__actions {
  border-top: 1px solid $color-smoke;
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding-top: 1.1rem;
  text-align: right;
}

.analysis__submit {
  background-color: $color-green;
  border: none;
  border-radius: 2px;
  color: $color-white;
  font-weight: $font-weight-bold;
  padding: 1.6rem;
  min-width: 13rem;
  transition: all $transition-duration-default;
  @include font-size(16, 1.125);

  &:hover {
    background-color: darken($color-green, 10%);
  }
}

.analysis__reset {
  background-color: transparent;
  color: $color-lichen;
  border: none;
  box-shadow: none;
  display: inline;
  font-weight: $font-weight-bold;
  padding: 0;
  text-decoration: underline;

  &:hover {
    color: darken($color-lichen, 10%);
  }
}

.analysis__label {
  margin-bottom: 1.1rem;
}

.analysis__data-list {
  @include clearfix();
  @include font-size(13, 1.125);
}

.analysis__data-list-label {
  clear: left;
  float: left;
  margin-bottom: 0.9rem;
  font-weight: $font-weight-bold;
}

.analysis__data-list-value {
  float: left;
  margin-left: 1.2rem;
  margin-bottom: 0.9rem;
}

.analysis__reset-form {
  margin-top: 3.2rem;
}

.analysis__reset-help {
  color: $color-boulder;
  max-width: 100%;
  width: 55rem;
  @include font-size(14, 1.4);
}

// Messages
.analysis__message {
  border-radius: 6px;
  max-width: 100%;
  padding: 1.2rem 1.6rem;
  width: 55rem;
  @include font-size(14, 1.1429);
}
  
.analysis__message--success {
  background-color: $color-alert-success-background;
  color: $color-alert-success-color;
}

.analysis__message--table {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  margin-left: 1.5rem;
}

.analysis__define-loaded-message {
  color: $color-boulder;
  margin-top: 1rem;
  @include font-size(14, 1.4);
}

.analysis__define-reset {
  color: $color-lichen;

  &:hover {
    color: darken($color-lichen, 10%);
  }
}

// Load data
.analysis__load-data-group {
  

  @media (min-width: $breakpoint-notebook) {
    flex: 0 0 auto;
  }
}

.analysis__load-data-import-transactions-count {
  line-height: 1.6;
  margin-top: $default-margin;
  margin-bottom: $default-margin;
}

.analysis__load-data-import-transactions-count-inline {
  display: inline-block;
  white-space: nowrap;
}

.analysis__load-data-group--upload--import {
  border-bottom: 1px solid $color-gray;
  padding-bottom: 3rem;
  margin-bottom: 3rem;

  @media (min-width: $breakpoint-notebook) {
    border-bottom: none;
    border-right: 1px solid $color-gray;
    margin-bottom: 0;
    padding-right: 4rem;
    padding-bottom: 0;
  }
}
  
.analysis__load-data-group--upload {
  @media (min-width: $breakpoint-notebook) {
    padding-left: 4rem;
  }
}

.analysis__load-data-download-group {
  margin-top: 1.4rem;
}

.analysis__load-data-download-link {
  display: inline-block;
  font-weight: $font-weight-bold;
  vertical-align: middle;
  @include font-size(14, 1.4);
}

// Errors
.analysis__error {
  color: $color-lichen;
  font-style: italic;
  margin-bottom: 1rem;
  @include font-size(14, 1.2);
}

// Loading
.analysis__loading {
  background-color: rgba(255, 255, 255, 0.25);
  bottom: 0;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  visibility: hidden;

  svg {
    animation: spin 4s infinite linear;
    left: 50%;
    margin-left: -2.4rem;
    margin-top: -2.4rem;
    position: absolute;
    top: 50%;
  }

  body.loading & {
    opacity: 1;
    visibility: visible;
  }
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}