<a href="{{url}}" class="ombuassets-document ombuassets-document-{{align}}" download><span class="title">{{title}}</span><span class="type">{{file_type_name}} | {{file_size|filesizeformat}}</span></a>
