<div class="ombuassets-image ombuassets-image-align-{{align}} pull-{{align}}">
    <img src="{{src}}" title="{{title}}" />
    {% if caption and not hide_caption %}
        <span class="caption">{{caption}}</span>
    {% endif %}
</div>
