{% extends 'panel-preview.html' %}
{% load imagekit %}

{% block panel-body %}
    <div class="asset-preview asset-preview-image">
        {{object.render_embedded}}
    </div>
    <div class="asset-preview-info">
        <table class="table">
            <tr><td class="active">Provider</td><td>{{object.provider}}</td></tr>
            <tr><td class="active">URL</td><td><a href="{{object.video_url}}" target="_blank">{{object.video_url}}</a></td></tr>
            <tr><td class="active">Source Width</td><td>{{object.width}}</td></tr>
            <tr><td class="active">Source Height</td><td>{{object.height}}</td></tr>
            <tr><td class="active">Created</td><td>{{object.created}}</td></tr>
            <tr>
              <td class="active">Tags</td>
              <td>
                {% if object.tags.all %}
                  {% for tag in object.tags.all %}
                    {% ifequal tag object.tags.all.last %}
                      {{tag}}
                    {% else %}
                      {{tag}},
                    {% endifequal %}

                  {% endfor %}
                {%else%}
                  ----
                {% endif %}
              </td>
            </tr>
            <tr><td class="active">Folder</td><td>{% if object.folder %}{{object.folder}}{%else%}----{% endif %}</td></tr>
        </table>
    </div>
{% endblock %}
