.form__group {
  margin-bottom: 1.6rem;
}

.form-group--file {
  display: inline-block;
  margin-bottom: 3rem;
}

.form__request-password {
  color: $color-boulder;
  margin-bottom: 0.4rem;
  @include font-size(16, 1.375);

  &:hover {
    color: darken($color-boulder, 10%);
  }
}

.form__submit {
  @include button-submit();
  min-width: 20rem; 
}

.flatpickr-input.form-control[readonly] {
  background-color: transparent;
}

.form__label-optional {
  color: $color-boulder;
  display: inline-block;
  margin-left: 1rem;
  padding-left: 1rem;
  position: relative;
  text-transform: uppercase;
  @include font-size(12, 1.333);

  &:before {
    background-color: rgb(230, 230, 230);
    content: "";
    height: 17px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1px;
  }
}

.form__date {
  cursor: pointer;
  display: flex;

  input {
    flex: 1 1 auto;
    min-width: 0;
    width: auto;

    &:disabled {
      cursor: default;
    }    
  }

  &.disabled {
    cursor: default;
  }  
}

.form__date-icon {
  border: 1px solid $color-smoke;
  border-radius: 2px;
  flex: 0 0 auto;
  height: $input-height;
  margin-left: 0.5rem;
  padding: 0.9rem;
  width: 51px;

  svg {
    height: 100%;
    vertical-align: top;
    width: 100%;
  }

  .disabled & {
    background-color: $color-gray;
    border-color: $color-gray;
  }
}

.form__number {
  display: flex;

  input {
    flex: 1 1 auto;
    min-width: 0;
  }
}

.form__number-toggles {
  display: flex;
  flex: 0 0 auto;
  margin-left: 0.5rem;

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    display: none;
  }
}

@supports (-ms-ime-align: auto) {
  .form__number-toggles {
    display: none;
  }
}

.form__number-toggle {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 1px solid $color-smoke;
  border-radius: 2px 0 0 2px;
  padding: 0;
  position: relative;
  width: 50px;

  &:hover {
    background-color: $color-moonstone;
  }

  svg {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .disabled & {
    background-color: $color-gray;
    border-color: $color-gray;
  }  
}

.form__number-toggle.form__number-toggle--increase {
  border-left: none;
  border-radius: 0 2px 2px 0;
}

.form__file-button {
  background-color: rgb(197, 222, 246);
  border: none;
  border-radius: 2px;
  color: $color-mineshaft;
  font-weight: $font-weight-bold;
  padding: 1.6rem;
  min-width: 20rem;
  transition: all $transition-duration-default;
  z-index: 1;
  @include font-size(16, 1.125);

  &:hover {
    background-color: darken(rgb(197, 222, 246), 10%);
  }

  .disabled &,
  &[disabled] {
    background-color: $color-gray;
  }
}

.form__file {
  align-items: center;
  cursor: pointer;
  display: flex;
  position: relative;
  width: 100%;

  input[type="file"] {
    bottom: 0;
    cursor: pointer;
    font-size: 0;
    height: 100%;
    left: 0;
    width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 3;

    &:hover {

      & + .form__file-button {
        background-color: darken(rgb(197, 222, 246), 10%);
      }

      &:disabled {
        cursor: default;

        & + .form__file-button {
          background-color: $color-gray;
        }
      }
    }

    &:focus,
    &.focus {
      & + .form__file-button {
        @include default-focus();
      }
    }
  }
}

.form__file-names {
  flex: 1 1 auto;
  min-width: 0px;
  word-wrap: break-all;
}

.form__file-name {
  margin-left: 1rem;
  word-wrap: break-word;
}

.form__radio,
.form__checkbox {
  label {
    margin-bottom: 0;
  }

  span {
    background-color: $color-moonstone;
    background-image: url('../images/radio--unchecked.svg');
    background-repeat: no-repeat;
    background-position: 1rem 1rem;
    border-radius: 2px;
    color: $color-mineshaft;
    display: block;
    font-weight: $font-weight-bold;
    min-height: 4rem;
    padding: 1.1rem 1.1rem 1.1rem 3.5rem;
    min-width: 9.6rem;
    transition: background-color $transition-duration-default ease;
    @include font-size(15, 1.2);
  }

  input {
    @include element-invisible();

    &:checked + span,
    &:hover + span {
      background-color: $color-table-accent-blue;
    }

    &:checked + span {
      background-image: url('../images/radio--checked.svg');
    }

    &:focus + span,
    &.focus + span {
      @include default-focus();
    }

    &[disabled] + span {
      background-color: $color-gray;
    }
  }  
}

.form__radio--inline,
.form__checkbox--inline {
  display: inline-block;
  margin-right: 2rem;

  &.form__radio--inline-right {
    margin-right: 0;
    margin-left: 2rem;
  }
}

.form__checkbox {
  span {
    background-image: url('../images/checkbox--unchecked.svg');
  }

  input {

    &:checked + span {
      background-image: url('../images/checkbox--checked.svg');
    }
  }  
}

.form__checkbox--simple {
  span {
    background-color: transparent;
    min-width: 0;
    padding-right: 0.5rem;
  }

  input {
    &:checked + span,
    &:hover + span {
      background-color: transparent;
    }

    &:checked + span {
      background-image: url('../images/checkbox--checked--green.svg');
    }

    &[disabled] + span {
      background-color: transparent;
    }  
  }
}

.form__checkbox--simple-cash-transfer {
  span {
    font-weight: $font-weight-regular;
  }
}

// errors

.form__errors {
  color: $color-lichen;
  margin-bottom: 1rem;
  padding-left: 3rem;
  position: relative;
  @include font-size(14, 1.2);

  svg {
    height: 20px;
    left: 0;
    position: absolute;
    top: -2px;
    width: 20px;
  }
}

.form__errors--right {
  clear: right;
  float: right;
}

.form__errors--allocated {
  margin-top: 0.5rem;
}

.form__errors-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.form__errors-list-item {
  margin-bottom: 0.75rem;
  padding: 0;
}

.has-error .control-label {
  color: $color-mineshaft;
}

.has-error {
  input[type="text"],
  input[type="date"],
  input[type="password"],
  input[type="email"],
  input[type="tel"],
  input[type="number"],
  textarea,
  select,
  ul.tag-editor {

    &,&.form-control {
      border-color: $color-lichen;
    }
  }
}

// help
.form__help-text {
  color: $color-boulder;
  margin-top: 0.5rem;
  @include font-size(14, 1.4);
}