/**
 * Base
 *
 * Base styles include HTML element types only, no classes or IDs
 */

html {
  font-size: 10px;
}

body {
  color: $color-mineshaft;
  font-family: $font-sans-serif;
  @include font-size(13, 1.1538);
}

h1,h2,h3,h4,h5,h6 {
  font-weight: bold;
}

h1 {
  margin-top: $default-margin;
  margin-bottom: $default-margin;
  @include font-size(36, 1.1111);
}

h2 {
  margin-top: $default-margin;
  margin-bottom: $default-margin;  
  @include font-size(28, 1.07);
}

h3 {
  margin-top: $default-margin;
  margin-bottom: $default-margin;  
  @include font-size(24, 1.2);
}

h4 {
  margin-top: $default-margin;
  margin-bottom: $default-margin;  
  @include font-size(20, 1.2);
}

h5,h6 {
  margin-top: $default-margin;
  margin-bottom: $default-margin;  
  @include font-size(18, 1.2);
}

p {
  margin-top: $default-margin;
  margin-bottom: $default-margin;
}

a {
  color: darken($color-topaz, 4%);
  text-decoration: underline;
  
  &.focus {
    @include default-focus();
  }

  &:hover,
  &.hover {
    color: $color-lapis;
  }

  &:active,
  &.active {
    color: $color-black;
  }
}

figure {
  margin-top: 4rem;
  margin-bottom: 4.3rem;
}

figcaption {
  font-style: italic;
  margin-top: 2rem;
  @include font-size(12, 1.42857);
}

hr {
  border-radius: 1px;
  border-top: 2px solid $color-lapis;
  margin-top: 5rem;
  margin-bottom: 4.8rem;
}

ul,ol {
  margin-top: $default-margin;
  margin-bottom: $default-margin;
  overflow: hidden;
}

li {
  margin-bottom: 3rem;
  padding-left: 2rem;

  &:last-child {
    margin-bottom: 0;
  }
}

img,iframe {
  height: auto;
  max-width: 100%;
}

label {
  font-weight: $font-weight-bold;
  margin-bottom: 0.5rem;
  @include font-size(13, 1.5625);
}

input[type="text"],
input[type="date"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="number"],
textarea,
select,
ul.tag-editor {
  &,&.form-control {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 1px solid $color-smoke;
    border-radius: 2px;
    box-shadow: none;
    color: $color-black;
    height: auto;
    min-height: $input-height;
    padding: 1.1rem 1rem;
    width: 100%;
    @include font-size(13, 1.2);

    &:-ms-input-placeholder { /* IE 10+ */
      color: $color-boulder;
      opacity: 1;
    }    

    &::placeholder {
      color: $color-boulder;
      opacity: 1;
    }

    &.focus,
    &:focus {
      @include default-focus();
    }

    &:active
    &.active {
      border-color: $color-topaz;
    }

    &[disabled],.disabled,.disabled & {
      background-color: $color-gray;
      border-color: $color-gray;
    }
  }
}

input[type="number"] {
  &,&.form-control {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    appearance: textfield;
  }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}

textarea {
  &,&.form-control {
    height: 5.5rem;
    resize: vertical;
    @include font-size(13, 1.2);
  }
}

select {
  &,&.form-control {
    background-repeat: no-repeat;
    background-image: url('../images/select.svg');
    background-size: 16px 7px;
    background-position: center right 1.7rem;
    padding-right: 5rem;
  }
  &::-ms-expand {
    display: none;
  }
}