{% extends "account/login_base.html" %}

{% load i18n account socialaccount static website_tags imagekit %}


{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block login_content %}
    <div class="login__header">
        <div class="login__header-logo">
            {% if dioptra_settings.instance_logo %}
                {% generateimage 'website:login-logo' source=dioptra_settings.instance_logo -- class="login__header-logo-image" alt="logo" %}
            {% else %}
                <img class="login__header-logo-image" alt="logo" src="{% static 'website/images/logo.png' %}">
            {% endif %}
        </div>
        <div class="login__header-primary">
            <h1 class="login__title">{% trans "Welcome to Dioptra" %}</h1>
            {% include 'account/_login-header-text.html' %}
        </div>
    </div>

    <form class="login__form" method="POST" action="{% url 'adminlogin' %}">
        {% if form.errors %}
            {% include 'forms/_errors.html' with errors=form.non_field_errors %}
        {% endif %}
        {% csrf_token %}
        <div class="form__group">
            {% if form.login.errors %}
                {% include 'forms/_errors.html' with errors=form.login.errors %}
            {% endif %}
            {{ form.login.label_tag }}
            {{ form.login }}
        </div>
        <div class="form__group">
            {% if form.password.errors %}
                {% include 'forms/_errors.html' with errors=form.password.errors %}
            {% endif %}
            {{ form.password.label_tag }}
            {{ form.password }}
        </div>
        {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
        {% endif %}
        <a class="form__request-password" href="{% url 'account_reset_password' %}">{% trans "Request new password" %}</a>
        <div class="login__actions">
            <button class="form__submit" type="submit">{% trans "Log In" %}</button>
        </div>
    </form>

{% endblock %}
