{% extends "login_base.html" %}

{% load i18n account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}


{% block login_content %}
    <h1 class="login__title">{% trans "Confirm E-mail Address" %}</h1>

    {% if confirmation %}

        {% user_display confirmation.email_address.user as user_display %}

        <p>{% blocktrans with confirmation.email_address.email as email %}Please confirm that <a href="mailto:{{ email }}">{{ email }}</a> is an e-mail address for user {{ user_display }}.{% endblocktrans %}</p>

        <form method="post" action="{% url 'account_confirm_email' confirmation.key %}" class="login__form">
            {% csrf_token %}

            <div class="login__actions">
                <button name="action" class="form__submit" type="submit">{% trans 'Confirm' %}</button>
            </div>          
        </form>

    {% else %}

        {% url 'account_email' as email_url %}

        <p>{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>

    {% endif %}

{% endblock %}
