{% extends "dashboard_base.html" %}

{% load i18n%}

{% block content %}
    <div class="container">
        <div class="login">
            {% block login_content %}{% endblock login_content %}
        </div>
    </div>    

{% endblock %}
