{% extends "account/login_base.html" %}

{% load i18n %}

{% block title %}{% trans "Set Password" %}{% endblock %}

{% block login_content %}
    <h1 class="login__title">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Set Password" %}{% endif %}</h1>

    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        <form method="POST" action="{{ action_url }}" class="login__form">
            {% csrf_token %}
            <div class="help__text"><p>Password must be at least 8 characters, with at least 1 letter, 1 number, and 1 symbol, and may not be a commonly used password.</p></div>            
            <div class="form__group">
                {% if form.password1.errors %}
                    {% include 'forms/_errors.html' with errors=form.password1.errors %}
                {% endif %}
                {{ form.password1.label_tag }}
                {{ form.password1 }}
            </div>
            <div class="form__group">
                {% if form.password2.errors %}
                    {% include 'forms/_errors.html' with errors=form.password2.errors %}
                {% endif %}
                {{ form.password2.label_tag }}
                {{ form.password2 }}
            </div>
            <div class="login__actions">
                <button class="form__submit" type="submit" name="action">{% trans 'Set Password' %}</button>
        </form>
    {% endif %}
{% endblock %}
