{% extends 'panel-form.html' %}
{% load static %}
{% load panels_extras panels_form_extras ombucore_tags %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block panel-head %}
    {% with title="Change Password" %}
        {{ block.super }}
    {% endwith %}
{% endblock %}

{% block login_content %}
    <h1 class="login__title">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>
    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
        {% if form %}
            <form method="POST" action="{% url 'account_change_password' %}" class="login__form">
                {% if form.errors %}
                    {% include 'forms/_errors.html' with errors=form.non_field_errors %}
                {% endif %}
                {% csrf_token %}
                <div class="form__group">
                    {% if form.oldpassword.errors %}
                        {% include 'forms/_errors.html' with errors=form.oldpassword.errors %}
                    {% endif %}
                    {{ form.oldpassword.label_tag }}
                    {{ form.oldpassword }}
                </div>
                <div class="form__group">
                    {% if form.password1.errors %}
                        {% include 'forms/_errors.html' with errors=form.password1.errors %}
                    {% endif %}
                    {{ form.password1.label_tag }}
                    {{ form.password1 }}
                </div>
                <div class="form__group">
                    {% if form.password2.errors %}
                        {% include 'forms/_errors.html' with errors=form.password2.errors %}
                    {% endif %}
                    {{ form.password2.label_tag }}
                    {{ form.password2 }}
                </div>
                <div class="login__actions">
                    <button name="action" class="form__submit" type="submit">{% trans "Change Password" %}</button>
                </div>
            </form>
        {% else %}
            <p>{% trans 'Your password is now changed.' %}</p>
        {% endif %}
    {% endif %}
{% endblock %}
