{% extends "account/login_base.html" %}

{% load i18n account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block login_content %}

    <h1 class="login__title">{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
    <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="login__form">
        {% if form.errors %}
            {% include 'forms/_errors.html' with errors=form.non_field_errors %}
        {% endif %}
        {% csrf_token %}
        <div class="form__group">
            {% if form.email.errors %}
                {% include 'forms/_errors.html' with errors=form.email.errors %}
            {% endif %}         
            {{ form.email.label_tag }}
            {{ form.email }}
        </div>
        <div class="login__actions">
            <button name="action" class="form__submit" type="submit">{% trans "Reset My Password" %}</button>
        </div>        
    </form>
{% endblock %}
