.filter-list table.list {
  border-spacing: 1px;
  border-collapse: separate;

  thead th {
    font-weight: bold;
    text-transform: none;
  }
}

html.is-in-panel .panel-head-auxiliary {
  a {
    background-color: $color-topaz;
    border-radius: 2px;
    color: $color-white;
    display: inline-block;
    font-weight: bold;
    padding: 16px 32px;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.125;    

    &:hover {
      background-color: darken($color-topaz, 10%);
      color: $color-white;
    }
  }
}

.btn-primary[disabled] {
  &,&:hover {
    background-color: $color-smoke;
    border-color: $color-smoke;
  }
}

.clearable-file__label,
input[type="file"].clearable-file__upload {
  display: inline;
}

.filter-list table.list .mark-trigger .operations a.operations-primary {
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  vertical-align: top;
}

.field-label-overrides__fieldset {
  align-items: center;
  display: flex;
  margin-bottom: 5px;
  width: 100%;
}

.field-label-overrides__label {
  flex: 1 1 auto;
  padding-right: 10px;

  > .form-group {
    margin-bottom: 0;
  }

  label.control-label {
    margin-bottom: 0;
  }
}

.field-label-overrides__checkbox {
  flex: 0 0 auto;

  > .form-group {
    margin-bottom: 0;
  }  
}

.field-label-overrides__text-input {
  flex: 0 0 200px;
  margin-left: 36px;

  > .form-group {
    margin-bottom: 0;
  }
}

.filter-list-column-nowrap {
  white-space: nowrap;
}

.panel-wrapper .panel-head .panel-head-title {
  min-width: 0;
}