// Theme Colors
$color-black: rgb(0,0,0);
// Primary palette
$color-lapis: rgb(16, 69, 122);
$color-topaz: rgb(27, 119, 212);
$color-moonstone: rgb(241, 247, 253);
$color-moss: rgb(105, 191, 121);
$color-lichen: rgb(183, 87, 87);
// Neutrals
$color-mineshaft: rgb(51, 51, 51);
$color-boulder: rgb(118, 118, 118);
$color-smoke: rgb(155, 155, 155);
$color-white: rgb(255, 255, 255);
$color-gray: rgb(204, 204, 204);
// other
$color-blue: rgb(35, 121, 209);
$color-light-blue: rgb(121, 179, 236);
$color-light-black: rgb(28, 28, 28);
$color-dark-black: rgb(17, 17, 17);
$color-green: rgb(74, 163, 91);
$color-table-blue: rgb(223, 235, 247);
$color-table-accent-blue: rgb(197, 222, 246);
$color-alert-success-background: rgb(218, 239, 222);
$color-alert-success-color: rgb(40, 88, 49);
$color-light-green: rgb(194, 231, 201);
$color-filter-background: rgb(235, 240, 245);
$color-moonstone-2: rgb(241, 244, 248);
$color-total-green: rgb(70, 164, 88);
$color-modal: rgb(241, 244, 248);

// Provider colors
$color-okta-blue: rgb(25, 125, 189);
$color-onelogin-teal: #00A9E0;

// Fonts
$font-serif: "Georgia", serif;

// Custom fonts
$font-sans-serif: "Arial", sans-serif;