<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  </head>
  <body class="" style="background-color: #f6f6f6; font-family: sans-serif; -webkit-font-smoothing: antialiased; font-size: 14px; line-height: 1.4; -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%; margin: 0; padding: 10px 0 0 0;" bgcolor="#f6f6f6">
<style type="text/css">
.btn-primary table td:hover { background-color: #34495e !important; }
.btn-primary a:hover { background-color: #34495e !important; border-color: #34495e !important; }
></style>
    <table border="0" cellpadding="0" cellspacing="0" class="body" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; background-color: #f6f6f6;" bgcolor="#f6f6f6">
      <tr>
        <td style="font-family: sans-serif; font-size: 16px !important; vertical-align: top;" valign="top"> </td>
        <td class="container" style="font-family: sans-serif; font-size: 16px !important; vertical-align: top; display: block; max-width: 580px; width: 100% !important; margin: 0 auto; padding: 0;" valign="top">
          <div class="content" style="box-sizing: border-box; display: block; max-width: 580px; margin: 0 auto; padding: 0;">

            <!-- START CENTERED WHITE CONTAINER -->
            <table class="main" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%; border-radius: 0 !important; border-left-width: 0 !important; border-right-width: 0 !important; background-color: #fff;" bgcolor="#fff">

              <!-- START MAIN CONTENT AREA -->
              <tr>
                <td class="wrapper" style="font-family: sans-serif; font-size: 16px !important; vertical-align: top; box-sizing: border-box; padding: 10px;" valign="top">
                  <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;">
                    <tr>
                      <td style="font-family: sans-serif; font-size: 16px !important; vertical-align: top; text-align: left;" valign="top">
                        {% block content %}
                            <br />
                            <p style="font-family: sans-serif; font-size: 16px !important; font-weight: normal; margin: 0 0 15px;">Hi there,</p>
                            <p style="font-family: sans-serif; font-size: 16px !important; font-weight: normal; margin: 0 0 15px;">Sometimes you just want to send a simple HTML email with a simple design and clear call to action.</p>
                        {% endblock %}
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>

              <!-- END MAIN CONTENT AREA -->
              </table>


            <!-- START FOOTER -->
            <div class="footer" style="clear: both; padding-top: 10px; text-align: center; width: 100%;" align="center">
              <table border="0" cellpadding="0" cellspacing="0" style="border-collapse: separate; mso-table-lspace: 0pt; mso-table-rspace: 0pt; width: 100%;">
                <tr>
                  <td class="content-block" style="font-family: sans-serif; font-size: 16px !important; vertical-align: top; color: #999999; text-align: center;" align="center" valign="top">
                    <!-- FOOTER CONTENT -->
                    <br />
                  </td>
                </tr>
              </table>
            </div>
            <!-- END FOOTER -->


<!-- END CENTERED WHITE CONTAINER -->
</div>
        </td>
        <td style="font-family: sans-serif; font-size: 16px !important; vertical-align: top;" valign="top"> </td>
      </tr>
    </table>
  </body>
</html>
