{% load panels_extras %}
<div class="generic-many-to-many-widget">
    <div style="display: none;">{{base_widget|safe}}</div>
    <ul class="panels-relation-widget--results">
        {% for obj_info in objects_info %}
            <li class='panels-relation-widget--result' data-obj-info='{{obj_info|jsonattr}}'>{{obj_info.title}}</li>
        {% endfor %}
    </ul>
    <div class="panels-relation-widget--control">
        {{control|safe}}
    </div>
</div>
