<div class="dropdown">
  <a href="" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    {{button_text}}
  </a>
  <ul class="dropdown-menu">
      {% for link in links %}
        <li>{{link|safe}}</li>
      {% endfor %}
  </ul>
</div>
