{% load mptt_tags static panels_extras panels_form_extras %}

<div class="nested-polymorphic-reorder">
  {{base_widget|safe}}
  <ol>
    {% recursetree object_tree %}
      {% with info=node|related_info %}
        <li class="tree-node" id="{{node.pk|get_menu_item_name}}" data-id='{{info.id}}' data-allowed-children='{{info.allowed_children|jsonattr}}' data-obj-info='{{info|jsonattr}}'>
          <div>
              <span class="handle">☰</span>
              <span class="verbose-name" title="{{info.verbose_name}}">{{info.verbose_name}}</span>
              <span class="title" title="{{info.title}}">{{info.title}}{% if info.width %} | {{info.width|width_to_percent}}%{% endif %}</span>
              <span class="operations">
                <a href="{{info.change_url}}" class="operation-edit">Edit</a>
                <a href="#" class="operation-remove">Remove</a>
              </span>
          </div>
          {% if not node.is_leaf_node %}
            <ol class="">
              {{ children }}
            </ol>
          {% endif %}
        </li>
      {% endwith %}
    {% endrecursetree %}
  </ol>
  <div class="nested-polymorphic-reorder--control">
      {{control|safe}}
  </div>
</div>
