{% if dioptra_settings.google_analytics_code %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{dioptra_settings.google_analytics_code}}"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', '{{dioptra_settings.google_analytics_code}}');
    </script>
{% endif %}
