{% load panels_extras %}
{% load static %}
<link href="https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,700" rel="stylesheet">
<script type="text/javascript">{% panels_messages %}</script>
<script type="text/javascript" src="{% static "panels/js/panels.js" %}"></script>
