{% extends 'panel-form.html' %}
{% load static %}

{% block panel-body %}
    <p class="delete-confirmation lead">Are you sure you want to duplicate "{{title}}"?</p>
    <p>Please remember to make any necessary changes that you wish on the following steps: Define Analysis, Set Contribution, Allocate Costs.</p>
    {{ block.super }}
{% endblock %}

{% block panel-foot %}
  <button type="submit" class="panels-delete-btn btn btn-danger">Yes, duplicate</button>
  <a href="" data-panels-action="reject-close" class="btn btn-cancel">No, cancel</a>
{% endblock %}
