<button class="results__heading-sort-toggle"><span class="results__heading-sort results__heading-sort--ascending">{% include 'svg/arrow-up.svg.html' %}</span><span class="results__heading-sort results__heading-sort--descending">{% include 'svg/arrow-down.svg.html' %}</span></button>