{% extends "theme_base.html" %}

{% block title %}Log In{% endblock %}

{% block content %}
  {% if form.errors %}
    <p>
      {{ form.non_field_errors.as_text }}
    </p>
  {% endif %}

  <form action="{% url 'login' %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" name="next" value="{{ next }}" />
    <button type="submit">Log in</button>
    <a href="{% url 'password_reset' %}" title="Request new password via e-mail." class="password-request">Request new password</a>
  </form>
{% endblock content %}
