<svg width="7" height="11" viewBox="0 0 7 11" fill="none" xmlns="http://www.w3.org/2000/svg" role="img" aria-labelledby="icon-arrow-right-title">
  <title id="icon-arrow-right-title">Right-pointing caret</title>
  <path d="M6.40016 4.96469L2.24217 9.32473C2.10905 9.46319 1.89378 9.46319 1.76066 9.32473L1.19984 8.74143C1.06672 8.60296 1.06672 8.37907 1.19984 8.24061L4.55625 4.71429L1.19984 1.18796C1.06672 1.0495 1.06672 0.825608 1.19984 0.687147L1.76066 0.103845C1.89378 -0.0346151 2.10905 -0.0346151 2.24217 0.103845L6.40016 4.46388C6.53328 4.60234 6.53328 4.82623 6.40016 4.96469Z" fill="#666666"/>
</svg>
