<svg width="10" height="8" viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg" role="img" aria-labelledby="icon-arrow-down-title">
  <title id="icon-arrow-down-title">Downward facing caret</title>
  <path d="M4.83183 7.10388L0.907796 2.24898C0.783181 2.09355 0.783181 1.8422 0.907796 1.68677L1.43277 1.03195C1.55738 0.876514 1.75889 0.876514 1.8835 1.03195L5.05719 4.95093L8.23088 1.03195C8.3555 0.876514 8.557 0.876514 8.68162 1.03195L9.20659 1.68677C9.3312 1.8422 9.3312 2.09355 9.20659 2.24898L5.28256 7.10388C5.15794 7.25932 4.95644 7.25932 4.83183 7.10388Z" fill="#034867"/>
</svg>
