<svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg" role="img" aria-labelledby="icon-arrow-up-title">
  <title id="icon-arrow-up-title">Upward facing caret</title>
  <path d="M4.4639 0.110936L0.103862 4.73092C-0.0345984 4.87884 -0.0345984 5.11802 0.103862 5.26593L0.687163 5.88906C0.825624 6.03698 1.04952 6.03698 1.18798 5.88906L4.7143 2.15972L8.24063 5.88906C8.37909 6.03698 8.60298 6.03698 8.74144 5.88906L9.32474 5.26593C9.4632 5.11802 9.4632 4.87884 9.32474 4.73092L4.96471 0.110936C4.82625 -0.0369788 4.60236 -0.0369788 4.4639 0.110936Z" fill="#BBBBBB"/>
</svg>
