<svg width="16" height="20" viewBox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg" role="img" aria-labelledby="icon-path-title">
  <title id="icon-path-title">Copy path icon</title>
  <g clip-path="url(#icon-path-clip0)">
    <path d="M14.2394 9.95947C14.2059 9.85006 14.1983 9.73434 14.2172 9.62147C14.2361 9.5086 14.2809 9.40167 14.3483 9.30914C14.5892 9.03891 14.7732 8.72284 14.8892 8.37984C15.0051 8.03684 15.0507 7.67397 15.0231 7.31295C14.8999 6.44828 14.6737 5.60146 14.3494 4.79051C12.8185 1.67052 8.5627 -0.113423 4.72489 1.27814C0.439733 2.83187 -1.12217 7.42071 0.833202 10.8384C0.86765 10.9481 0.875747 11.0645 0.856836 11.1779C0.837925 11.2914 0.792539 11.3988 0.724358 11.4914C0.465119 11.7475 0.269488 12.0608 0.153149 12.4061C0.0368099 12.7515 0.00299949 13.1193 0.0544284 13.48C0.11037 14.3573 0.338178 15.2151 0.724903 16.0046C2.24327 19.1301 6.50938 20.9118 10.3456 19.5203C14.6362 17.9643 16.1932 13.375 14.2394 9.95947ZM3.4253 4.07269C4.55051 3.08298 6.00599 2.55128 7.5042 2.58262C10.1164 2.58262 12.4092 4.12276 13.0911 6.3437C13.1895 6.64796 13.2557 6.96169 13.2887 7.27975C13.315 7.55514 13.2336 7.83003 13.0615 8.04662C12.8894 8.26321 12.64 8.40462 12.3658 8.44113C12.0915 8.47764 11.8138 8.40639 11.591 8.24238C11.3682 8.07836 11.2177 7.83436 11.1711 7.56166C10.899 5.05826 7.93359 4.04276 5.914 4.86017C4.44135 5.45881 3.56299 7.10179 4.07401 8.45526C4.28511 8.97002 4.62758 9.42039 5.0672 9.76138C6.12516 10.5848 7.25658 11.3135 8.35481 12.0857C8.59612 12.2236 8.78715 12.4349 8.90013 12.6888C9.01312 12.9427 9.04216 13.226 8.98304 13.4976C8.92392 13.7692 8.77972 14.0148 8.57141 14.1988C8.3631 14.3827 8.10153 14.4955 7.82475 14.5205C7.54493 14.5453 7.26426 14.4838 7.02038 14.3444C6.77651 14.205 6.58111 13.9943 6.4604 13.7407C6.24386 13.3763 5.96454 13.0531 5.63536 12.7861C4.91972 12.2076 4.12734 11.7216 3.42639 11.1274C2.90787 10.6974 2.49051 10.1584 2.20401 9.54879C1.91751 8.93917 1.76892 8.27387 1.76881 7.60028C1.76871 6.92669 1.91709 6.26135 2.2034 5.65163C2.48972 5.04191 2.90691 4.50281 3.4253 4.07269ZM11.6136 16.7529C10.499 17.7237 9.06426 18.2472 7.58638 18.2223C4.96217 18.2147 2.67483 16.6909 1.98803 14.4705C1.88266 14.1476 1.8142 13.8139 1.78395 13.4757C1.75926 13.2019 1.844 12.9295 2.01963 12.7181C2.19525 12.5067 2.44746 12.3734 2.72109 12.3475C2.85582 12.3267 2.99333 12.3328 3.12571 12.3654C3.25808 12.398 3.38271 12.4564 3.49241 12.5373C3.60212 12.6183 3.69474 12.7201 3.76495 12.8369C3.83515 12.9538 3.88156 13.0834 3.90149 13.2182C4.14149 15.6944 7.09278 16.7371 9.08733 15.9627C10.5937 15.3777 11.5151 13.738 11.0062 12.36C10.8005 11.8428 10.4609 11.3896 10.0223 11.0468C8.94855 10.2114 7.79862 9.47403 6.68625 8.68764C6.41284 8.51459 6.21189 8.24782 6.12103 7.93727C6.03017 7.62672 6.05563 7.2937 6.19264 7.00057C6.33104 6.70692 6.57607 6.47698 6.87791 6.35749C7.17976 6.23801 7.51578 6.23794 7.81767 6.35731C8.12708 6.55695 8.39669 6.81235 8.61277 7.1105C8.83021 7.40333 9.06905 7.67964 9.32733 7.93717C10.0805 8.5358 10.9056 9.04193 11.6375 9.66179C12.1611 10.0932 12.5823 10.6356 12.8708 11.2497C13.1592 11.8638 13.3076 12.5343 13.3053 13.2128C13.303 13.8912 13.1501 14.5607 12.8575 15.1728C12.565 15.785 12.1401 16.3245 11.6136 16.7524V16.7529Z" fill="#333333"/>
  </g>
  <defs>
    <clipPath id="icon-path-clip0">
      <rect width="15.2" height="20" fill="white"/>
    </clipPath>
  </defs>
</svg>
