<svg width="40" height="40" viewBox="0 0 40 40" fill="none" xmlns="http://www.w3.org/2000/svg" role="img" aria-labelledyby="#user-icon-title">
  <title id="user-icon-title">User Icon</title>
  <path d="M20 10C21.3261 10 22.5979 10.5268 23.5355 11.4645C24.4732 12.4021 25 13.6739 25 15C25 16.3261 24.4732 17.5979 23.5355 18.5355C22.5979 19.4732 21.3261 20 20 20C18.6739 20 17.4021 19.4732 16.4645 18.5355C15.5268 17.5979 15 16.3261 15 15C15 13.6739 15.5268 12.4021 16.4645 11.4645C17.4021 10.5268 18.6739 10 20 10ZM20 22.5C25.525 22.5 30 24.7375 30 27.5V30H10V27.5C10 24.7375 14.475 22.5 20 22.5Z" fill="#686B6F"/>
  <rect width="40" height="40" rx="20" fill="#7A7A7A" fill-opacity="0.14"/>
</svg>
