<svg width="20" height="19" viewBox="0 0 20 19" fill="none" xmlns="http://www.w3.org/2000/svg" role="img" aria-labelledby="#icon-warning-title">
  <title id="icon-warning-title">Warning Icon</title>
  <path fill-rule="evenodd" clip-rule="evenodd" d="M8.57502 3.65654L1.51668 14.2952C1.22055 14.7582 1.21878 15.3283 1.51204 15.7928C1.8053 16.2573 2.34953 16.5465 2.94168 16.5524H17.0583C17.6505 16.5465 18.1947 16.2573 18.488 15.7928C18.7813 15.3283 18.7795 14.7582 18.4834 14.2952L11.425 3.65654C11.1229 3.20683 10.5826 2.93219 10 2.93219C9.41745 2.93219 8.87716 3.20683 8.57502 3.65654Z" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
  <path d="M10 7.5238V10.5333" stroke="#333333" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
  <ellipse cx="10" cy="13.5428" rx="0.833333" ry="0.752381" fill="#333333"/>
</svg>
