.comparison {
  margin-bottom: 5.7rem;
}

.comparison__main {
  display: flex;
  margin-bottom: 1.9rem;
}

.comparison__graph {
  flex: 1 1 0px;
  margin-right: 3rem;
}

.comparison__items {
  display: flex;
  flex-direction: column;
  flex: 1 1 0px;
  margin-left: 2rem;
  margin-top: 6px;
  padding-bottom: 5.2rem;
}

.comparison__item-wrapper {
  position: relative;
}

.comparison__item {
  align-items: center;
  background: none;
  border: none;
  cursor: default;
  flex: 1 1 0;
  display: flex;
  padding: 0 0.5rem;
  height: 3.8rem;
  width: 100%;
}

button.comparison__item {
  &:hover,
  &:focus {
    background-color: $color-moonstone;
  }
}

.comparison__item-cost {
  border-radius: 6px;
  flex: 0 0 auto;
  font-weight: $font-weight-bold;
  min-width: 8rem;
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  text-align: right;
  @include font-size(14, 1.1429);
}

.comparison__item-cost--direct {
  background-color: $color-table-accent-blue;
  margin-right: 0.6rem;

  .comparison__item-wrapper--current-analysis & {
    background-color: $color-topaz;
    color: $color-white;
  }
}

.comparison__item-cost--with-shared {
  background-color: $color-light-green;
  margin-right: 1.4rem;

  .comparison__item-wrapper--current-analysis & {
    background-color: $color-total-green;
    color: $color-white;
  }  
}

.comparison__item-description {
  flex: 1 1 auto;
  min-width: 10rem;
  text-align: left;
  @include font-size(14, 1.1429);
}

.comparison__item-tooltip {
  background-color: $color-moonstone-2;
  bottom: calc(100% - 5px);
  box-shadow: 0px 0px 10px rgba(17, 17, 17, 0.5);
  font-weight: $font-weight-bold;
  opacity: 0;
  padding: 1.1rem 1.5rem 1.2rem;
  pointer-events: none;
  position: absolute;
  right: -2rem;
  visibility: hidden;
  width: 33.5rem;
  @include font-size(14, 1.2857);

  .comparison__item:hover + &,
  .comparison__item:focus + & {
    opacity: 1;
    visibility: visible;
  }

  @media (max-width: $breakpoint-notebook - 1px) {
    right: 0;
  }
}

// key
$key-margin: 4.7rem;
.comparison__key {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  margin-left: $key-margin;
  @include font-size(14, 1.1429);
}

.comparison__key-label {
  font-weight: $font-weight-bold;
  margin-right: 1.9rem;
}

.comparison__key-item  {
  font-style: italic;
  padding-left: 3.4rem;
  position: relative;

  &:before {
    border-radius: 6px;
    content: "";
    height: 2.6rem;
    left: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 2.6rem;
  }
}

.comparison__key-item--direct {
  margin-right: 13.6rem;

  &:before {
    background-color: $color-table-accent-blue;
  }
}

.comparison__key-item--with-shared {
  &:before {
    background-color: $color-light-green;
  }
}

.comparison__footnote {
  margin-left: $key-margin;
  margin-top: 2.5rem;
  max-width: 600px;
}