.cost-breakdown {
  display: flex;
  margin-bottom: 6.3rem;

  @media (max-width: 1400px) {
    flex-wrap: wrap;
  }
}

.cost-breakdown__group {
  flex: 1 1 0px;

  //@media (max-width: $breakpoint-desktop - 1px) {
  @media (max-width: 1400px) {
    flex: 0 0 auto;
    width: 100%;
  }  
}

.cost-breakdown__group--program-costs {
  margin-right: 3rem;

  @media (max-width: 1400px) {
    margin-right: 0;
    margin-bottom: 1.5rem;
  }  
}

.cost-breakdown__group--top-cost-categories {
  margin-left: 3rem;

  @media (max-width: 1400px) {
    margin-left: 0;
  }    
}

.cost-breakdown__group-label {
  margin-top: 0;
  margin-bottom: 1rem;
  @include font-size(16, 1.8125);
}

.cost-breakdown__table {
  border-collapse: separate;
  border-spacing: 1px 0;
  text-align: left;
  width: 100%;

  > thead > tr > th {
    background-color: $color-lapis;
    color: $color-white;
    font-weight: $font-weight-bold;
    padding: 1.2rem 1rem;
    @include font-size(14, 1.142857143);
  }

  > tbody > tr > td {
    padding: 1rem;
    @include font-size(14, 1.428571429);
  }

  > tbody > tr {
    &:nth-child(odd) {
      background-color: $color-moonstone;
    }
  }  

  > tfoot {
    @include font-size(14, 2.071428571);

    > tr > td {
      border-top: 1px solid $color-smoke;
      padding: 0.6rem 1rem;
    }
  }
}

.cost-breakdown__graph {
  max-width: 100%;
}

.cost-breakdown__table-right {
  text-align: right;
}

.cost-breakdown__category {
  width: 100%;
}

.cost-breakdown__amount {
  min-width: 11rem;
}

.cost-breakdown__percentage {
  min-width: 11rem;
}