.efficiency-item {
  margin-bottom: 3rem;
}

.efficiency-item__groups {
  display: flex;

  @media (max-width: $breakpoint-notebook - 1px) {
    flex-wrap: wrap;
  }
}

.efficiency-item__label {
  margin-bottom: 1rem;
}

.efficiency-item__group {
  border-radius: 6px;
  color: $color-white;
  display: flex;
  flex: 1 1 0;
  justify-content: space-between;
  padding: 2.5rem;

  @media (max-width: $breakpoint-notebook - 1px) {
    flex: 0 0 auto;
    width: 100%;
  }  
}

.efficiency-item__group--direct {
  background-color: $color-topaz;
  margin-right: 3rem;

  @media (max-width: $breakpoint-notebook - 1px) {
    margin-right: 0;
    margin-bottom: 1.5rem;
  }    
}

.efficiency-item__group--total {
  background-color: $color-total-green;
  margin-left: 3rem;

  @media (max-width: $breakpoint-notebook - 1px) {
    margin-left: 0;
  }    
}

.efficiency-item__group-primary {
  flex: 0 0 auto;
  width: 30rem;
}

.efficiency-item__cost {
  margin-bottom: 1rem;
  @include font-size(50, 1.14);
}

.efficiency-item__group-label {
  @include font-size(16, 1.125);
}

.efficiency-item__icon {
  flex: 0 1 13.5rem;

  svg {
    height: auto;
    width: 100%;

    * {
      fill: $color-white;
    }
  }
}