.insights__actions {
  margin-top: 1.9rem;
  text-align: right;
}

.insights__action {

}

.insights__header {
  display: flex;
  margin-top: 2.8rem;  
  margin-bottom: 3.4rem;

  @media (max-width: $breakpoint-notebook - 1px) {
    flex-wrap: wrap;
  }
}

.insight__header-primary {
  flex: 1 1 auto;
  min-width: 0;

   @media (max-width: $breakpoint-notebook - 1px) {
    margin-bottom: 1.5rem;
    width: 100%;
  } 
}

.insights__header-secondary {
  align-self: flex-start;
  background-color: $color-moonstone;
  border-radius: 6px;
  flex: 0 0 auto;
  margin-left: 3rem;
  padding: 2.2rem 2.8rem 2.4rem;
  width: 38.2rem;

  @media (max-width: $breakpoint-notebook - 1px) {
    margin-left: 0;
    width: 100%;
  }  
}

.insights__title {
  margin-bottom: 0.3rem;
  margin-top: 0;
}

.insights__subtitle {
  margin-bottom: 0.8rem;
  margin-top: 0;
  @include font-size(18, 1.61);
}

.insights__description {
  margin-bottom: 0;
  margin-top: 1rem;
  max-width: 100%;
  width: 75.5rem;
  @include font-size(16, 1.3125);
}

.insights__data-list {
  margin-top: 0;
  margin-bottom: 0;
  @include font-size(14, 1.142857143);
  @include clearfix();
}

.insights__data-label {
  clear: left;
  float: left;
  font-weight: $font-weight-bold;
  margin-right: 0.5rem;
  margin-bottom: 1rem;
  min-width: 8.3rem;
  margin-left: 0;
}

.insights__data-value {
  float: left;
  margin-bottom: 1rem;
  margin-top: 0;
}

.insights__created {
  color: $color-boulder;
  @include font-size(14, 1.142857143);
}

.insights__heading {
  border-top: 1px solid $color-lapis;
  margin-top: 0;
  margin-bottom: 2.5rem;
  padding-top: 1.4rem;
}

.insights__subheading {
  margin-bottom: 1.3rem;
  margin-top: 0;
  @include font-size(16, 1.8125);
}

.insights__efficiency-items {
  margin-bottom: 4.3rem;
}