.strategies {
  margin-bottom: 9rem;
}

.strategies__items {

}

.strategies__item {
  margin-bottom: 3rem;
}

.strategies__label {
  margin-bottom: 1.2rem;
  @include font-size(20, 1.45);
}

.strategies__item-inner {
  display: flex;
}

.strategies__item-primary {
  background-color: $color-moonstone;
  border-radius: 6px 0 0 6px;
  flex: 1 1 0px;
  padding: 1.2rem 0.7rem 2.1rem 2.4rem;
  position: relative;

  svg {
    bottom: 0;
    height: 100%;
    left: 100%;
    position: absolute;
    top: 0;
    width: 3.3rem;
  }
}

.strategies__item-secondary {
  background-color: $color-table-blue;
  border-radius: 0 6px 6px 0;
  flex: 1 1 0px;
  padding: 1.2rem 2rem 2.1rem 7rem;
}

.strategies__item-label {
  font-weight: $font-weight-bold;
  margin-top: 0;
  margin-bottom: 0.3rem;
  @include font-size(16, 1.8125);
}

.strategies__item-text {
  @include font-size(16, 1.625);

  p {
    &:first-child {
      margin-top: 0;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}