{% extends 'email/email-base.html' %}

{% load i18n %}

{% block email_body %}
    <h1>{% trans 'Complete your registration' %}</h1>
    <p>{% trans 'A Dioptra administrator created an account for you. ' %} <a href="{{ password_reset_url }}">{% trans 'Set your Dioptra password ' %}</a> {% trans 'to activate your account.' %}</p>
{% endblock %}