{% extends 'email/email-base.html' %}

{% load i18n %}

{% block email_body %}
    <h1>{{ token|stringformat:".6d" }}</h1>
    <p>{% trans 'This is your Dioptra verification code. Visit ' %} <a href="https://{{ domain }}{% url 'two-factor-authenticate' %}">Dioptra</a> {% trans 'to enter your code and login.' %}</p>
{% endblock %}